{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Vaults' %}{% endblock %}
{% block content %}

<h1>
    {% if edit_type == 'new' %}
        {% trans '+ New item' %}
    {% else %}
        {% trans 'Edit item' %}
    {% endif %}
</h1>
<div class="annotation">
    {% trans 'All items saved in database are encrypted to protect data.' %}
    <span class="float-right">
        <span id="expiry_min"></span><span id="expiry_sec"></span>
        <input type="button" value="{% trans 'Extend expiry' %}" onClick="javascript:extend_expiry()">
    </span>
</div>

<div class="editing">
    <form id="signup_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% trans 'Please fill all bold text which mean mandatory.' %}
        </div>
        <table class="member">
            <tr>
                <td class="label required">
                    {% trans 'name' %}
                </td>
                <td class="input">
                    {{ form.name }}
                </td>
            </tr>
            <tr>
                <td class="label required">
                    {% trans 'category' %}
                </td>
                <td class="input">
                    {{ form.category }}
                </td>
            </tr>
            <tr>
                <td class="label required">
                    {% trans 'Number' %}
                </td>
                <td class="input">
                    {{ form.number }}
                </td>
            </tr>
            <tr>
                <td class="label">
                    {% trans 'Logo' %}
                </td>
                <td class="input">
                    {% if edit_type == 'edit' and vault.image %}
                        <div>
                            <img src="{{ vault.image.url }}">
                        </div>
                    {% endif %}
                    {{ form.image }}
                    <div>
                        * JPG, PNG, GIF 80x80
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">
                    {% trans 'Valid through' %}
                </td>
                <td class="input">
                    {{ form.valid }}
                </td>
            </tr>
            <tr>
                <td class="label">
                    {% trans 'CVC' %}
                </td>
                <td class="input">
                    {{ form.cvc }}
                </td>
            </tr>
            <tr>
                <td class="label">
                    {% trans 'Description' %}
                </td>
                <td class="input inputlong">
                    {{ form.description }}
                </td>
            </tr>
        </table>
        {% if edit_type == 'edit' %}
            <div class="float-left">
                <input type="button" class="delete" value="{% trans 'Delete' %}" onClick=javascript:delete_vault("{% url 'vaults:delete_vault' id=vault.id %}")>
            </div>
        {% endif %}
        <div class="member align-right">
            <input type="submit" value="{% trans 'Save' %}">
        </div>
    </form>
</div>

{% endblock %}
{% block bodyscript %}
    <script>
        {% if ENABLE_MASTERKEY %}
            var enable_masterkey = true;
            var expiry = {{ expiry }};
        {% else %}
            var enable_masterkey = false;
        {% endif %}
    </script>
    <script src="{% static 'js/vaults/vault.js' %}" async></script>
{% endblock %}
