{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Vaults' %}{% endblock %}
{% block content %}

<h1>
    {% trans 'New key' %}
</h1>
<div class="annotation">
    {% trans 'Do not store sensitive information on the server. We are not responsible for your data lost or leakage of personal information. It is your sole responsibility to ensure your information safely protected from any kind of issues.' %}
</div>

<div class="editing">
    <form id="masterkey_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% trans 'By creating master key, you agree to our Terms and Data policy as described above.' %}
        </div>
        <table class="member">
            <tr>
                <td class="label required">
                    {% trans 'Master key' %}
                </td>
                <td class="input password">
                    {{ form.masterkey }}
                    <div>
                        * {{ MASTERKEY_LENGTH }} {% trans 'digit number' %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label required">
                    {% trans 'Master key confirm' %}
                </td>
                <td class="input password">
                    <input id="id_masterkey2" type="text" maxlength="{{ MASTERKEY_LENGTH }}">
                </td>
            </tr>
        </table>
        <div class="member align-right">
            <input type="submit" value="{% trans 'Create' %}">
        </div>
    </form>
</div>

{% endblock %}
{% block bodyscript %}
    <script>
        var masterkey_length = {{ MASTERKEY_LENGTH }};
    </script>
    <script src="{% static 'js/vaults/new_key.js' %}" async></script>
{% endblock %}
