{% load staticfiles %}
{% load i18n %}
{% load pick %}
{% load tz datetime %}

<h1>
    {% trans 'Alarm' %}
</h1>
<div class="annotation">
    {{ total }} / {{ max }} {% trans 'alarms exist' %}
    {% if total > 0 %}
        <span>
            <a href="javascript:clear_alarm('{{ type }}')">
                {% trans 'Read all' %}
            </a>
        </span>
    {% endif %}
</div>

<div class="alarm">
    <table>
        {% for alarm in alarms %}
            <tr>
                <td>
                    {% if alarm.0 == 'b' %}
                        <span class="category">
                            {{ name_list|pick_first:alarm.1.table }}
                        </span>
                        <a href="{% url 'boards:show_article' id=alarm.1.id %}">
                            <span class="subject">
                                {{ alarm.1.subject }}
                            </span>
                            {% if alarm.1.created_at|localtime|is_recent %}
                                <span class="message">
                            {% else %}
                                <span>
                            {% endif %}
                                {% trans 'Article has a reply.' %}
                            </span>
                        </a>
                    {% elif alarm.0 == 'r' %}
                        <a href="{% url 'boards:show_article' id=alarm.1.article_id %}">
                            <span class="subject">
                                {{ alarm.1.content }}
                            </span>
                            {% if alarm.1.created_at|localtime|is_recent %}
                                <span class="message">
                            {% else %}
                                <span>
                            {% endif %}
                                {% trans 'Reply has a reply.' %}
                            </span>
                        </a>
                    {% elif alarm.0 == 'l' or alarm.0 == 'c' %}
                        <span class="category">
                            {% trans 'Blog' %}
                        </span>
                        <a href="{% url 'blogs:show_post' id=alarm.1.id %}#comment_header">
                            {% if alarm.0 == 'l' %}
                                <span class="subject">
                                    {{ alarm.1.title }}
                                </span>
                                <span>
                                    {% trans 'Post has a reply.' %}
                                </span>
                            {% elif alarm.0 == 'c' %}
                                <span class="subject">
                                    {{ alarm.1.content }}
                                </span>
                                <span>
                                    {% trans 'Reply has a reply.' %}
                                </span>
                            {% endif %}
                    {% elif alarm.0 == 't' or alarm.0 == 'tf' or alarm.0 == 'tc' or alarm.0 == 'tl' or alarm.0 == 'tk' or alarm.0 == 'bt' %}
                        <a href="{% url 'teams:show_recruitment' id=alarm.1.id %}">
                            <span class="subject">
                                {{ alarm.1.subject }}
                            </span>
                            {% if alarm.1.created_at|localtime|is_recent %}
                                <span class="message">
                            {% else %}
                                <span>
                            {% endif %}
                            {% if alarm.0 == 't' %}
                                {% trans 'A player joined your party.' %}
                            {% elif alarm.0 == 'tf' %}
                                {% trans 'The party you joined is now full.' %}
                            {% elif alarm.0 == 'tc' %}
                                {% trans 'The party you joined is canceled.' %}
                            {% elif alarm.0 == 'tl' %}
                                {% trans 'A player leaved your party.' %}
                            {% elif alarm.0 == 'tk' %}
                                {% trans 'You are kicked from party.' %}
                            {% elif alarm.0 == 'bt' %}
                                {% trans 'Article has a reply.' %}
                            {% endif %}
                            </span>
                        </a>
                    {% elif alarm.0 == 'rt' %}
                        <a href="{% url 'teams:show_recruitment' id=alarm.1.id %}">
                            <span class="subject">
                                {{ alarm.1.content }}
                            </span>
                            {% if alarm.1.created_at|localtime|is_recent %}
                                <span class="message">
                            {% else %}
                                <span>
                            {% endif %}
                                {% trans 'Reply has a reply.' %}
                            </span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="alarm_msg">
        {% if total > 0 %}
            {% blocktrans %}It shows recent {{ max }} alarms so may you often clear alarms.{% endblocktrans %}
        {% else %}
            <img src="{% static 'icons/alert96.png' %}">
            <div>
                {% trans 'No alarms' %}
            </div>
        {% endif %}
    </div>
</div>
