{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{{ SITE_NAME }} - {% trans 'Edit bookmarks' %}{% endblock %}
{% block content %}

<h1>
    {% trans 'Edit bookmarks' %}
</h1>
<div class="annotation">
    {% trans 'Drag and drop to edit bookmark ordering. Saving is necessary to save your changes such as deleting and ordering.' %}
</div>

<div class="edit_bookmarks">
    <form id="edit_bookmarks_form" action="" method="post">{% csrf_token %}
        <div id="sort_container">
            <ul>
                {% blocktrans %}Bookmarks are limited to {{ MAX_BOOKMARKS }}.{% endblocktrans %}
            </ul>
            <ul id="sort_items">
                {% for bm in my_bookmark %}
                    <li id="{{ bm.0 }}">
                        {{ bm.1 }}
                        <span class="float-right">
                            <a href="javascript:delete_li('{{ bm.0 }}')">
                                <img src="{% static 'icons/delete24.png' %}">
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="member float-right">
            <span id="result_msg">
                {{ msg }}
            </span>
            <input type="submit" value="{% trans 'Save' %}">
        </div>
    </form>
</div>

{% endblock %}

{% block bodyscript %}
{% if DEBUG %}
    <script src="{% static 'js/thirdparty/jquery-ui.min.js' %}"></script>
{% else %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endif %}
    <script src="{% static 'js/thirdparty/jquery-ui-touch-punch.min.js' %}"></script>
    <script src="{% static 'js/accounts/edit_bookmarks.js' %}"></script>
{% endblock %}
