{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{{ SITE_NAME }} - {% trans 'login' %}{% endblock %}
{% block extra_head_content %}
{{ block.super }}
{% endblock %}
{% load user %}
{% block content %}

<h1>
    {% trans 'login' %}
</h1>
<div class="annotation">
    {% if form.errors %}
        <font color="red">{% trans 'Login failure' %}</font>
    {% endif %}
</div>
<div class="full_login_container">
    <div class="full_login">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <div>
                    <span class="float-left">
                        {{ user|nickname|safe }}
                    </span>
                    <span class="float-right">
                        <img src="{% static 'icons/edit24.png' %}">
                    </span>
                </div>
                <div>
                    <input type="submit" value="{% trans 'logout' %}">
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        {% else %}
            <form method="post" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <div>
                    <input id="id_username" type="text" name="username" maxlength="{{ ID_MAX_LENGTH }}" placeholder="{% trans 'id' %}" />
                </div>
                <div>
                    <input type="password" name="password" id="id_password" placeholder="{% trans 'password' %}"/>
                </div>
                <div>
                    <input type="submit" value="{% trans 'login' %}" />
                </div>
                <div class="buttons">
                    <span class="float-left">
                        <a href="{% url 'accounts:password_reset' %}">
                            {% trans 'Reset password' %}
                        </a>
                    </span>
                    <span class="float-right">
                        <a href="{% url 'accounts:signup' %}">
                            {% trans 'Sign up' %}
                        </a>
                    </span>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
    {% endif %}
    </div>
</div>
{% endblock %}
