<textarea rows="23" style="width:100%; padding:10px" readonly>
{{ SITE_NAME }} 개인정보 취급방침

정보통신망 이용촉진 등에 관한 법률 등 관련 법률에 의한 개인정보 보호규정 및 정보통신부가 제정한 개인정보지침을 준수하고 있습니다.

1. 개인정보의 수집 및 이용 목적
- 아이디, 비밀번호, 이메일 주소: 서비스 이용에 따른 사용자 확인, 중복가입 확인 및 부정이용 방지를 위한 목적으로 사용합니다.
- 이용자의 IP Address: 중복 추천 방지 및 통계학적 분석을 위해 사용합니다.

2. 개인정보의 수집 항목
- 필수항목: 아이디, 비밀번호, 이메일 주소
- 선택항목: 닉네임, AdSense 정보, 사진, 자기소개 등
- 자동수집항목: IP Address, 접속 기록, 쿠키 등

3. 개인정보의 보유 및 이용기간
- 필수항목, 선택항목 및 자동수집항목 등의 가입 회원정보는 사이트 폐쇄시까지 보관합니다.
- 가입 회원정보는 중복가입 확인, 부정사용 방지 등을 위해 탈퇴하더라도 사이트 폐쇄시까지 보관합니다.

4. 개인정보 관리 책임자 및 담당자의 연락처
메일: {{ ADMIN_EMAIL }}
</textarea>
