{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load menu %}
{% block title %}{{ SITE_NAME }} - {% trans 'User info' %}{% endblock %}
{% block content %}

<h1>
    {% trans 'User info' %}
</h1>
<div class="annotation">
</div>

<div class="editing">
    <table class="member">
        <tr>
            <td class="label">
                {% trans 'portrait' %}
            </td>
            <td class="input">
                {% if userinfo.profile.portrait %}
                    <img src="{{ userinfo.profile.portrait.url }}" class="portrait"><br>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'id' %}
            </td>
            <td class="input">
                {{ userinfo }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'Date joined' %}
            </td>
            <td class="input">
                {{ userinfo.date_joined|date:" Y-m-d H:i:s" }}
            </td>
        </tr>
        {% if ENABLE_NICKNAME %}
            <tr>
                <td class="label">
                    {% trans 'nickname' %}
                </td>
                <td class="input">
                    {{ userinfo.first_name }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td class="label">
                {% trans 'Last login' %}
            </td>
            <td class="input">
                {{ userinfo.last_login }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'PSN ID' %}
            </td>
            <td class="input">
                {{ userinfo.profile.id1 }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'Xbox ID' %}
            </td>
            <td class="input">
                {{ userinfo.profile.id2 }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'BattleTag' %}
            </td>
            <td class="input">
                {{ userinfo.profile.id3 }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'Article count' %}
            </td>
            <td class="input">
                {{ article_no }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'Reply count' %}
            </td>
            <td class="input">
                {{ reply_no }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'point' %}
            </td>
            <td class="input">
                {{ userinfo.profile.point }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'signature' %}
            </td>
            <td class="input">
                {{ userinfo.profile.signature }}
            </td>
        </tr>
    </table>
</div>

{% endblock %}

{% block bodyscript %}
{% endblock %}
