{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load menu %}
{% block title %}{{ SITE_NAME }} - {% trans 'User info' %}{% endblock %}
{% block content %}

<h1>
    {% trans 'User info' %}
</h1>
<div class="annotation">
</div>

<div class="editing">
    <table class="member">
        <tr>
            <td class="label">
                {% trans 'portrait' %}
            </td>
            <td class="input">
                {% if userinfo.profile.portrait %}
                    <img src="{{ userinfo.profile.portrait.url }}" class="portrait"><br>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'id' %}
            </td>
            <td class="input">
                {{ userinfo }}
                {% if userinfo.is_superuser %}
                    <img src="{% static 'icons/captain14.png' %}">
                {% elif userinfo.is_staff %}
                    <img src="{% static 'admin/img/icon-yes.svg' %}">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'Date joined' %}
            </td>
            <td class="input">
                {{ userinfo.date_joined|date:" Y-m-d H:i:s" }}
            </td>
        </tr>
        {% if ENABLE_NICKNAME %}
            <tr>
                <td class="label">
                    {% trans 'nickname' %}
                </td>
                <td class="input">
                    {{ userinfo.first_name }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td class="label">
                {% trans 'Last login' %}
            </td>
            <td class="input">
                {{ userinfo.last_login }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'Article count' %}
            </td>
            <td class="input">
                {{ article_no }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'Reply count' %}
            </td>
            <td class="input">
                {{ reply_no }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'point' %}
            </td>
            <td class="input">
                {{ userinfo.profile.point }}
            </td>
        </tr>
        <tr>
            <td class="label">
                {% trans 'signature' %}
            </td>
            <td class="input">
                {{ userinfo.profile.signature }}
            </td>
        </tr>
        {% if not userinfo.is_active %}
            <tr>
                <td class="label suspended">
                    {% trans 'Sunspended until' %}
                </td>
                <td class="input suspended">
                    {{ userinfo.profile.suspension_till }}
                </td>
            </tr>
        {% endif %}
        {% if user.is_staff and not userinfo.is_staff %}
            <tr>
                <td class="label">
                    {% trans 'Suspension' %}
                </td>
                <td class="input suspension">
                    <form id="suspension_form">
                        {% csrf_token %}
                        <input id="suspension_days" type="tel" maxlength="5" size="5" placeholder="{% trans 'day' %}">
                        <input type="button" class="delete" value="{% trans 'Discipline' %}" onClick="suspend('{{ userinfo }}');">
                        {% if not userinfo.is_active %}
                            <input type="button" value="{% trans 'Clear Suspension' %}" onClick="clear_suspension('{{ userinfo }}');">
                        {% endif %}
                        <div>
                            {% trans 'Suspend account for entered days.' %}
                        </div>
                    </form>
                </td>
            </tr>
        {% endif %}
    </table>
</div>

{% endblock %}

{% block bodyscript %}
<script src="{% static 'js/accounts/suspension.js' %}" async></script>
{% endblock %}
