{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ SITE_NAME }} - {{ table_name }}{% endblock %}
{% block extra_head_content %}
{{ block.super }}
{% endblock %}
{% load i18n %}
{% load tz datetime %}
{% load range %}
{% load pick %}
{% block content %}

<h1>{{ table_name }}</h1>
<div class="annotation">
{% if table_desc %}
    {{ table_desc }}
{% endif %}
    <span>
        <a href="{% url 'boards:new_article' table=table %}" class="current_page">{% trans 'write' %}</a>
    </span>
</div>

<div class="sense_horizontal_bar">
</div>

<table class="board">
<thead>
<tr>
    <th class="subject">{% trans 'subject' %}</th>
    <th class="name">{% trans 'username' %}</th>
    <th class="view_count">{% trans 'view' %}</th>
    <th class="like_count">{% trans 'like' %}</th>
    <th class="datetime">{% trans 'date' %}</th>
</tr>
</thead>
<tbody>
{% for article in top_notice %} <!--//Top Notice-->
    <tr>
        <td class="subject notice">
            {% trans 'status_notice' %}
            <a href="{% url 'boards:show_article' id=article.id %}">
                {{ article.subject }}
            </a>
            {% if article.reply_count > 0 %}
                <span>[{{ article.reply_count }}]</span>
            {% endif %}
        </td>
        <td class="name">
            {{ article.user }}
        </td>
        <td class="view_count">
            {{ article.view_count }}
        </td>
        <td class="like_count">
            {{ article.like_count }}
        </td>
        <td class="datetime">
            {% if article.created_at|localtime|is_today %}
                {{ article.created_at|time:"H:i" }}
            {% else %}
                {{ article.created_at|date:"m-d" }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% for article in notice_list %} <!--//Notice of each board-->
    <tr>
        <td class="subject notice">
            {% trans 'status_notice' %}
            <a href="{% url 'boards:show_article' id=article.id %}">
                {{ article.subject }}
            </a>
            {% if article.reply_count > 0 %}
                <span>[{{ article.reply_count }}]</span>
            {% endif %}
        </td>
        <td class="name">
            {{ article.user }}
        </td>
        <td class="view_count">
            {{ article.view_count }}
        </td>
        <td class="like_count">
            {{ article.like_count }}
        </td>
        <td class="datetime">
            {% if article.created_at|localtime|is_today %}
                {{ article.created_at|time:"H:i" }}
            {% else %}
                {{ article.created_at|date:"m-d" }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% for article in lists %} <!--//Articles-->
    <tr>
        <td class="subject">
            <span class="category">
                {% if table == '0' %}
                    {{ name_list|pick_first:article.table }}
                {% else %}
                    {{ article.category }}
                {% endif %}
            </span>
            <a href="{% url 'boards:show_article' id=article.id %}">
                {{ article.subject }}
            </a>
            {% if article.reply_count > 0 %}
                <span>[{{ article.reply_count }}]</span>
            {% endif %}
        </td>
        <td class="article_info">
            {{ article.user }}
        </td>
        <td class="article_info">
            {{ article.view_count }}
        </td>
        <td class="article_info">
            {{ article.like_count }}
        </td>
        <td class="article_info">
            {% if article.created_at|localtime|is_today %}
                {{ article.created_at|time:"H:i" }}
            {% else %}
                {{ article.created_at|date:"m-d" }}
            {% endif %}
        </td>
    </tr>
    <tr class="article_info_mobile">
        <td>
            <span>
                {{ article.user }} |
            </span>
            <span>
                {{ article.view_count }} |
            </span>
            <span>
                {{ article.like_count }} |
            </span>
            <span>
                {% if article.created_at|localtime|is_today %}
                    {{ article.created_at|time:"H:i" }}
                {% else %}
                    {{ article.created_at|date:"m-d" }}
                {% endif %}
            </span>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
<div class="sense_horizontal_bar">
</div>
<div class="navigator">
    <div class="float-left">
    </div>
    {% if index_begin != 1 %}
        <span>
            <a href="../1" class="jump" title="{% trans 'to first page' %}"><<</a>
            <a href="../{{ prev_index }}" class="jump" title="{% trans 'to prev page' %}"><</a>
        </span>
    {% endif %}
    {% for index in index_begin|range:index_end %}
        <span>
            {% if index == page %}
                <a href="../{{index}}" class="current_page">
            {% else %}
                <a href="../{{index}}">
            {% endif %}
                    {{ index }}
                </a>
        </span>
    {% endfor %}
    {% if index_end <= index_total %}
        <span>
            <a href="../{{ index_end }}" class="jump" title="{% trans 'to next page' %}">></a>
        </span>
    {% endif %}
{% if writable == True %}
    <div class="float-right mobile_hide">
        <span>
            <a href="{% url 'boards:new_article' table=table %}" class="current_page">{% trans 'write' %}</a>
        </span>
    </div>
{% endif %}
</div>
<div class="dbsearch">
    <select id="search_type">
        <option value="subject">
            {% trans 'subject' %}
        </option>
        <option value="subject+name" selected>
            {% trans 'subject+content' %}
        </option>
        <option value="user">
            {% trans 'username' %}
        </option>
    </select>
    <input type="text" id="search_word" class="search_word" onkeypress="onKeyPress(event)">
    <input type="button" id="search_button" class="search_button" value="{% trans 'search' %}" onClick="search()">
</div>
{% endblock %}

{% block bodyscript %}
<script src="{% static 'js/boards/boards_show.js' %}" async></script>
{% endblock %}
