{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{{ SITE_NAME }} - {{ table_name }}{% endblock %}
{% load tz datetime %}
{% load range %}
{% load pick %}
{% load user %}
{% load bookmark %}
{% load sense %}
{% block content %}

<h1>
    <a href="{% url 'boards:show_list_0' table=table %}">
        {{ table_name }}
    </a>
    {% if user.is_authenticated %}
        <a href="javascript:toggle_bookmark('boards', '{{ table }}')">
            {% with 'boards:'|add:table as app_id %}
                {% if user|is_stared:app_id %}
                    <img src="{% static 'icons/stared28.png' %}" id="header_star">
                {% else %}
                    <img src="{% static 'icons/star28.png' %}" id="header_star">
                {% endif %}
            {% endwith %}
        </a>
        <form>{% csrf_token %}</form>
    {% endif %}
</h1>
<div class="annotation">
{% if table_desc %}
    {{ table_desc }}
{% endif %}
{% if writable == True %}
    <span>
        <a href="{% url 'boards:new_article' table=table %}" class="current_page">{% trans 'write' %}</a>
    </span>
{% endif %}
</div>

<div class="sense_horizontal_bar">
    {% show_up_sense %}
</div>

<table class="board">
<thead>
<tr>
    <th class="subject">{% trans 'subject' %}</th>
    <th class="name">{% trans 'username' %}</th>
    <th class="view_count">{% trans 'view' %}</th>
    <th class="like_count">{% trans 'like' %}</th>
    <th class="like_count">{% trans 'dislike' %}</th>
    <th class="datetime">{% trans 'date' %}</th>
</tr>
</thead>
<tbody>
{% for article in notice_list %} <!--//Notice-->
    <tr>
        <td class="subject notice tdlink" data-href="{% url 'boards:show_table_article' id=article.id table=table %}">
            <span class="category">
                {% trans 'status_notice' %}
            </span>
            <a href="{% url 'boards:show_table_article' id=article.id table=table %}" class="board_link">
                {{ article.subject }}
            </a>
            {% if article.reply_count > 0 %}
                <span>[{{ article.reply_count }}]</span>
            {% endif %}
        </td>
        <td class="article_info">
            {{ article.user|nickname|safe }}
        </td>
        <td class="article_info">
            {{ article.view_count }}
        </td>
        {% if article.like_count >= HOT_THRESHOLD %}
            <td class="article_info article_hot">
        {% else %}
            <td class="article_info">
        {% endif %}
            {{ article.like_count }}
        </td>
        <td class="article_info">
            {{ article.dislike_count }}
        </td>
        <td class="article_info">
            {% if article.created_at|localtime|is_today %}
                {{ article.created_at|time:"H:i" }}
            {% else %}
                {{ article.created_at|date:"m-d" }}
            {% endif %}
        </td>
    </tr>
    <tr class="article_info_mobile">
        <td>
            <span>
                {{ article.user|nickname|safe }} |
            </span>
            {% if article.like_count > HOT_THRESHOLD %}
                <span class="article_hot">
            {% else %}
                <span>
            {% endif %}
                {{ article.like_count }}
                </span>
            <span>
                | {% trans 'dislike' %} {{ article.dislike_count }} |
            </span>
            <span>
                {% trans 'view' %} {{ article.view_count }} |
            </span>
            <span>
                {% if article.created_at|localtime|is_today %}
                    {{ article.created_at|time:"H:i" }}
                {% else %}
                    {{ article.created_at|date:"m-d" }}
                {% endif %}
            </span>
        </td>
    </tr>
{% endfor %}
{% for article in lists %} <!--//Articles-->
    <tr>
        <td class="subject tdlink" data-href="{% url 'boards:show_table_article' id=article.id table=table %}">
            <span class="category">
                {% if table == '0' or table == '9' %}
                    {{ name_list|pick_first:article.table }}
                {% else %}
                    {{ article.category }}
                {% endif %}
            </span>
            <a href="{% url 'boards:show_table_article' id=article.id table=table %}">
                {{ article.subject }}
            </a>
            {% if article.reply_count > 0 %}
                <span>[{{ article.reply_count }}]</span>
            {% endif %}
        </td>
        <td class="article_info">
            {{ article.user|nickname|safe }}
        </td>
        <td class="article_info">
            {{ article.view_count }}
        </td>
        {% if article.like_count >= HOT_THRESHOLD %}
            <td class="article_info article_hot">
        {% else %}
            <td class="article_info">
        {% endif %}
            {{ article.like_count }}
        </td>
        <td class="article_info">
            {{ article.dislike_count }}
        </td>
        <td class="article_info">
            {% if article.created_at|localtime|is_today %}
                {{ article.created_at|time:"H:i" }}
            {% else %}
                {{ article.created_at|date:"m-d" }}
            {% endif %}
        </td>
    </tr>
    <tr class="article_info_mobile">
        <td>
            <span>
                {{ article.user|nickname|safe }} |
            </span>
            <span>
                {% trans 'like' %}
            </span>
            {% if article.like_count > HOT_THRESHOLD %}
                <span class="article_hot">
            {% else %}
                <span>
            {% endif %}
                {{ article.like_count }}
                </span>
            <span>
                | {% trans 'dislike' %} {{ article.dislike_count }} |
            </span>
            <span>
                {% trans 'view' %} {{ article.view_count }} |
            </span>
            <span>
                {% if article.created_at|localtime|is_today %}
                    {{ article.created_at|time:"H:i" }}
                {% else %}
                    {{ article.created_at|date:"m-d" }}
                {% endif %}
            </span>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
<div class="sense_horizontal_bar">
    {% show_down_sense %}
</div>
<div class="nabingator buttons mobile_show">
    {% if index_end > 2 %}
        <table>
            <tr>
                <td>
                    {% if page > 1 %}
                        <a href="../{{ page|add:'-1' }}">
                            < {% trans 'to prev page' %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if page < index_end|add:'-1' %}
                        <a href="../{{ page|add:'1' }}">
                            {% trans 'to next page' %} >
                        </a>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endif %}
</div>
<div class="navigator mobile_hide">
    <div class="float-left">
    </div>
    {% if index_begin != 1 %}
        <span>
            <a href="../1" class="jump" title="{% trans 'to first page' %}"><<</a>
            <a href="../{{ index_begin|add:'-1' }}" class="jump" title="{% trans 'to prev page' %}"><</a>
        </span>
    {% endif %}
    {% for index in index_begin|range:index_end %}
        <span>
            {% if index == page %}
                <a href="../{{ index }}" class="current_page">
            {% else %}
                <a href="../{{ index }}">
            {% endif %}
                    {{ index }}
                </a>
        </span>
    {% endfor %}
    {% if index_end <= index_total %}
        <span>
            <a href="../{{ index_end }}" class="jump" title="{% trans 'to next page' %}">></a>
        </span>
    {% endif %}
{% if writable == True %}
    <div class="float-right">
        <span>
            <a href="{% url 'boards:new_article' table=table %}" class="current_page">{% trans 'write' %}</a>
        </span>
    </div>
{% endif %}
</div>
<div class="navigator mobile_show">
    {% if mindex_begin != 1 %}
        <span>
            <a href="../1" class="jump" title="{% trans 'to first page' %}"><<</a>
            <a href="../{{ mindex_begin|add:'-1' }}" class="jump" title="{% trans 'to prev page' %}"><</a>
        </span>
    {% endif %}
    {% for index in mindex_begin|range:mindex_end %}
        <span>
            {% if index == page %}
                <a href="../{{ index }}" class="current_page">
            {% else %}
                <a href="../{{ index }}">
            {% endif %}
                    {{ index }}
                </a>
        </span>
    {% endfor %}
    {% if mindex_end <= index_total %}
        <span>
            <a href="../{{ mindex_end }}" class="jump" title="{% trans 'to next page' %}">></a>
        </span>
    {% endif %}
</div>
<div class="dbsearch">
    <select id="search_type">
        <option value="subject">
            {% trans 'subject' %}
        </option>
        <option value="subjectcontent" selected>
            {% trans 'subject+content' %}
        </option>
        <option value="writeuser">
            {% trans 'write user' %}
        </option>
    </select>
    <input type="text" id="search_word" class="search_word" onkeypress="onKeyPress(event)">
    <input type="button" id="search_button" class="search_button" value="{% trans 'search' %}" onClick="search_article()">
</div>
{% endblock %}
{% block bodyscript %}
{% if ENABLE_MARK_KEYWORD %}
    {% if DEBUG %}
        <script src="{% static 'js/thirdparty/jquery.mark.min.js' %}" async></script>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.0/jquery.mark.es6.min.js" async></script>
        }
    {% endif %}
{% endif %}
<script>
    var search_type = '{{ search_type }}';
    var search_word = '{{ search_word }}';
    var search_article_url = "{% url 'boards:search_article' table=table search_type='type' search_word='word' %}";
    {% if ENABLE_MARK_KEYWORD %}
        var mark_enabled = true;
    {% else %}
        var mark_enabled = false;
    {% endif %}
</script>
<script src="{% static 'js/boards/boards_list.js' %}" async></script>
<script src="{% static 'js/accounts/bookmarks.js' %}" async></script>
{% endblock %}
