{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Paper' %} - {{ SITE_NAME }}{% endblock %}
{% load tz datetime %}
{% load status %}
{% load user %}
{% load navigator %}
{% block content %}

<h1>
    {% if box == 'inbox' %}
        {% trans 'Inbox' %}
    {% elif box == 'inbox_nc' %}
        {% trans 'Inbox pending' %}
    {% elif box == 'outbox' %}
        {% trans 'Outbox' %}
    {% else %}
        {% trans 'Archive' %}
    {% endif %}
</h1>
<div class="annotation">
    {{ total }} {% trans 'papers exist' %}
    {% if box == 'inbox' %}
        <span>
            <a href="{% url 'papers:inbox_nc' page=1 %}">
                {% trans 'Show pending' %}
            </a>
        </span>
    {% elif box == 'inbox_nc' %}
        <span>
            <a href="{% url 'papers:inbox' page=1 %}">
                {% trans 'Show all' %}
            </a>
        </span>
    {% elif box == 'outbox' %}
        <span>
            <a href="{% url 'papers:new_paper' %}">
                {% trans '+ New paper' %}
            </a>
        </span>
    {% endif %}
</div>

<table class="board">
<thead>
<tr>
    <th class="subject">{% trans 'title' %}</th>
    <th class="name">{% trans 'proposer' %}</th>
    <th class="longname">{% trans 'status' %}</th>
    <th class="datetime">{% trans 'date' %}</th>
</tr>
</thead>
<tbody>
{% for paper in lists %}
    <tr>
        {% if request.user == paper.user and not paper.completed %}
            <td class="subject tdlink active" data-href="{% url 'papers:show_paper' id=paper.id %}">
        {% elif request.user == paper.cc.last.user and not paper.completed %}
            <td class="subject tdlink active" data-href="{% url 'papers:show_paper' id=paper.id %}">
        {% else %}
            <td class="subject tdlink" data-href="{% url 'papers:show_paper' id=paper.id %}">
        {% endif %}
            <a href="{% url 'papers:show_paper' id=paper.id %}">
                {{ paper.title }}
            </a>
            {% if paper.files.all %}
                <img src="{% static 'icons/attachment18.png' %}">
            {% endif %}
        </td>
        <td class="article_info">
            {{ paper.user|realname:user.is_authenticated|safe }}
        </td>
        <td class="article_info">
            {{ paper.status|status_to_text|safe }}
            {% if paper.status == '2progress' %}
                <span class="paper_step">
                    ({{ paper.cc.last.order|add:-2 }}/{{ paper.supporters.all.count|add:1 }})
                </span>
            {% endif %}
        </td>
        <td class="article_info">
            {% if paper.updated_at|localtime|is_today %}
                {{ paper.updated_at|time:"H:i" }}
            {% else %}
                {{ paper.updated_at|date:"m-d" }}
            {% endif %}
        </td>
    </tr>
    <tr class="article_info_mobile">
        <td>
            <span>
                {{ paper.user|nickname:user.is_authenticated|safe }} |
            </span>
            <span>
                {{ paper.status|status_to_text|safe }}
                {% if paper.status == '2progress' %}
                    ({{ paper.cc.last.order|add:-2 }}/{{ paper.supporters.all.count|add:1 }})
                {% endif %}
                |
            </span>
            <span>
                {% if paper.updated_at|localtime|is_today %}
                    {{ paper.updated_at|time:"H:i" }}
                {% else %}
                    {{ paper.updated_at|date:"m-d" }}
                {% endif %}
            </span>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% show_navigator %}

<div class="dbsearch">
    <select id="search_type">
        <option value="title">
            {% trans 'title' %}
        </option>
        <option value="subjectcontent" selected>
            {% trans 'subject+content' %}
        </option>
        {% if box == 'outbox' %}
            <option value="approver">
                {% trans 'approver' %}
            </option>
        {% else %}
            <option value="proposer">
                {% trans 'proposer' %}
            </option>
        {% endif %}
    </select>
    <input type="text" id="search_word" class="search_word" onkeypress="onKeyPress(event)">
    <input type="button" id="search_button" class="search_button" value="{% trans 'search' %}" onClick="search_inbox()">
</div>
{% endblock %}
{% block bodyscript %}
{% if ENABLE_MARK_KEYWORD %}
    <script src="{% static 'js/thirdparty/jquery.mark.min.js' %}" async></script>
{% endif %}
<script>
    var search_type = '{{ search_type }}';
    var search_word = '{{ search_word }}';
    {% if box == 'inbox' %}
        var search_inbox_url = "{% url 'papers:search_inbox' search_type='type' search_word='word' page=page %}";
    {% elif box == 'inbox_nc' %}
        var search_inbox_url = "{% url 'papers:search_inbox_nc' search_type='type' search_word='word' page=page %}";
    {% elif box == 'outbox' %}
            var search_inbox_url = "{% url 'papers:search_outbox' search_type='type' search_word='word' page=page %}";
    {% else %}
        var search_inbox_url = "{% url 'papers:search_archive' search_type='type' search_word='word' page=page %}";
    {% endif %}
    {% if ENABLE_MARK_KEYWORD %}
        var mark_enabled = true;
    {% else %}
        var mark_enabled = false;
    {% endif %}
</script>
<script src="{% static 'js/papers/papers_inbox.js' %}" async></script>
{% endblock %}
