{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Paper' %} - {{ SITE_NAME }}{% endblock %}
{% block extra_head_content %}
{{ block.super }}
{% endblock %}
{% load status %}
{% load user %}
{% load link %}
{% load i18n %}
{% block content %}

<div class="blog_header">
    <span>
        {{ paper.status|status_to_text }}
    </span>
    {{ paper.title }}
</div>

<div class="line_names">
    <ul>
        <li class="proposer">
            {% if paper.status == '4canceled' %}
                <span class="rejector">
                    {% trans 'Withdraw' %}
            {% else %}
                <span>
                    {% trans 'Proposal' %}
            {% endif %}
                </span>
            {% if request.user == paper.user %}
                <span class="self">
            {% else %}
                <span class="other">
            {% endif %}
                {{ paper.user|realname:user.is_authenticated|safe }} / {{ paper.user.email }}
            </span>
            {% if paper.status == '4canceled' %}
                <span class="paper_time rejected">
                    {{ paper.updated_at|date:"Y-m-d H:m:s" }} 
            {% else %}
                <span class="paper_time">
                    {{ paper.created_at|date:"Y-m-d H:m:s" }}
            {% endif %}
                </span>
            {% if paper.cancelmsg %}
                <div class="paper_comment">
                    {{ paper.cancelmsg }}
                </div>
            {% else %}
            {% endif %}
        </li>
        <li class="approver">
            {% if paper.rejected %}
                <span class="rejector">
                    {% trans 'Reject' %}
            {% else %}
                <span>
                    {% trans 'Approval' %}
            {% endif %}
                </span>
            {% if request.user == paper.approver %}
                <span class="self">
            {% else %}
                <span class="other">
            {% endif %}
                    {{ paper.approver|realname:user.is_authenticated|safe }} / {{ paper.approver.email }}
                </span>
            {% if paper.approved or paper.rejected %}
                {% if paper.rejected %}
                    <span class="paper_time rejected">
                {% else %}
                    <span class="paper_time">
                {% endif %}
                        {{ paper.approved_at|date:"Y-m-d H:m:s" }}
                    </span>
                {% if paper.comment %}
                    <div class="paper_comment">
                        {{ paper.comment }}
                    </div>
                {% endif %}
            {% endif %}
        </li>
        {% for supporter in paper.supporters.all %}
            <li class="supporter">
                {% if supporter.rejected %}
                    <span class="rejector">
                        {% trans 'Reject' %}
                {% else %}
                    <span>
                        {% trans 'Support' %}
                {% endif %}
                </span>
                {% if request.user == supporter.user %}
                    <span class="self">
                {% else %}
                    <span class="other">
                {% endif %}
                    {{ supporter.user|realname:user.is_authenticated|safe }} / {{ supporter.user.email }}
                </span>
                {% if supporter.approved or supporter.rejected %}
                    {% if supporter.rejected %}
                        <span class="paper_time rejected">
                    {% else %}
                        <span class="paper_time">
                    {% endif %}
                            {{ supporter.approved_at|date:"Y-m-d H:m:s" }}
                        </span>
                    {% if supporter.comment %}
                        <div class="paper_comment">
                            {{ supporter.comment }}
                        </div>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
        {% for notifier in paper.notifiers.all %}
            <li class="notifier">
                <span>
                    {% trans 'Notify' %}
                </span>
                {% if request.user == notifier.user %}
                    <span class="self">
                {% else %}
                    <span class="other">
                {% endif %}
                    {{ notifier.user|realname:user.is_authenticated|safe }} / {{ notifier.user.email }}
                </span>
                {% if paper.status == '5completed' %}
                    <span class="paper_time">
                        {{ paper.updated_at|date:"Y-m-d H:m:s" }}
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="article_view_content">
    {{ paper.content|safe }}
</div>

{% if paper.files.all %}
    <div class="post_navigation">
        <div>
            {% trans 'Attachment' %} ({{ paper.files.all.count }})
        </div>
        <div>
            <table>
                {% for f in paper.files.all %}
                    <tr>
                        <td class="post_title">
                            <img src="{% static 'icons/attachment18.png' %}">
                            <a href="{{ f.file.url }}">
                                {{ f.file.path|filenamepath }}
                            </a>
                            ({{ f.file.size|filesizeformat }})<br>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}

{% if not paper.completed and request.user == paper.cc.last.user %}
    <div class="input_submit">
        <input type="button" class="submit" value="{% trans 'Approve' %}" onClick="approve_box();">
        <input type="button" class="delete" value="{% trans 'Reject' %}" onClick="reject_box();">
    </div>
{% elif not paper.completed and request.user == paper.user %}
    <div class="input_submit">
        <input type="button" class="delete" value="{% trans 'Withdraw' %}" onClick="reject_box();">
    </div>
{% endif %}

<div id="approve_box" class="approve_box" style="display:none;">
    <form
        id="approve_box_form"
        method="POST"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box_title">
            {% trans 'Are you sure to approve this proposal?' %}
        </div>
        <div class="box_input">
            <textarea id="approve_comment" maxlength="{{ APPROVE_COMMENT_MAX }}" placeholder="{% trans 'Approve proposal' %}"></textarea>
        </div>
        <div class="box_buttons">
            <input type="button" class="submit" value="{% trans 'Approve' %}" onClick="approve_paper({{ paper.id }})">
            <input type="button" value="{% trans 'Cancel' %}" onClick="cancel_approve();">
        </div>
    </form>
</div>
<div id="reject_box" class="approve_box reject_box" style="display:none;">
    <form
        id="reject_box_form"
        method="POST"
        enctype="multipart/form-data">
        <div class="box_title">
            {% if request.user == paper.user %}
                {% trans 'Are you sure to withdraw your proposal?' %}
            {% else %}
                {% trans 'Are you sure to reject this proposal?' %}
            {% endif %}
        </div>
        <div class="box_input">
            {% if request.user == paper.user %}
                <textarea id="reject_comment" maxlength="{{ APPROVE_COMMENT_MAX }}" placeholder="{% trans 'Withdraw proposal' %}"></textarea>
            {% else %}
                <textarea id="reject_comment" maxlength="{{ APPROVE_COMMENT_MAX }}" placeholder="{% trans 'Reject proposal' %}"></textarea>
            {% endif %}
        </div>
        <div class="box_buttons">
            {% if request.user == paper.user %}
                <input type="button" class="delete" value="{% trans 'Withdraw' %}" onClick="reject_paper({{ paper.id }})">
            {% else %}
                <input type="button" class="delete" value="{% trans 'Reject' %}" onClick="reject_paper({{ paper.id }})">
            {% endif %}
            <input type="button" value="{% trans 'Cancel' %}" onClick="cancel_reject();">
        </div>
    </form>
</div>

{% endblock %}

{% block bodyscript %}
<script>
</script>
<script src="{% static 'js/papers/papers.js' %}" async></script>
{% endblock %}
