{% load staticfiles %}
{% load i18n %}
{% load pick %}
{% load tz datetime %}

<h1>
    {% trans 'Search result' %}
</h1>
<div class="annotation">
    {{ total }} {% trans 'users found. User will not be shown if already in the list.' %}
    <span>
        <a href="javascript:list_cancel()">
            {% trans 'Close' %}
        </a>
    </span>
</div>

<div class="alarm">
    <table>
        {% for name in names %}
            <tr>
                <td>
                    <span class="category">
                        {% if type == 'approver' %}
                            {% trans 'Approver' %}
                        {% elif type == 'supporter' %}
                            {% trans 'Supporter' %}
                        {% elif type == 'notifier' %}
                            {% trans 'Notifier' %}
                        {% endif %}
                    </span>
                    <span class="search_result">
                        <a href="javascript:select_person('{{ type }}', '{{ name.id }}', '{{ name }}', '{{ name.last_name }}', '{{ name.email }}');">
                            <span>
                                {% if name.last_name %}
                                    {{ name.last_name }}
                                {% else %}
                                    {{ name }}
                                {% endif %}
                            </span>
                            {% if name.email %}
                                <span>
                                    {{ name.email }}
                                </span>
                            {% endif %}
                        </a>
                    </span>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="alarm_msg">
        <div>
            {% trans 'Select to add a person to the list.' %}
        </div>
    </div>
</div>
