@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* reset */
body, html {width:100%;margin:0;padding:0;background:#EDEDED;font-size:1.0em;}
body {font-family:Noto Sans KR,'맑은 고딕',Malgun Gothic,Apple Gothic,'돋움',Dotum,sans-serif;}
div,p,h1,h2,h3,h4,h5,h6,section, article, aside, footer, figure, figcaption, nav,ul,ol,li,dl,dt,dd,table,tr,thead,tbody,tfoot,td,th,a,span,strong,em,i,img,address,form,fieldset,legend,input,textarea,select,label,button,pre,
iframe {margin:0;padding:0;}
section, article, aside, footer, figure, figcaption, nav {display:block;}
img {border:0 none;vertical-align:middle;}
address, em, cite {font-style:normal;}
hr {-moz-box-sizing:content-box;box-sizing:content-box;height:0;margin:0;padding:0;border:0;}
table {border-collapse:collapse;border-spacing:0;}
table th, table td {word-break:break-all;}
dd, dl, ol, ul, form {margin:0;padding:0;}
li {list-style-type:none;}
form {margin:0;padding:0;}
div {box-sizing:border-box;}
pre {box-sizing:border-box;margin-top:.5em;margin-bottom:.5em;background:#EFF0F1;font-size:.95em;font-family:"Courier";overflow-x:scroll;}
input, button, select, textarea {box-sizing:border-box;font-size:1.0em;}
input[type="button"], input[type="submit"] {cursor:pointer;display:inline-block;height:2.1em;margin-left:.5em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.2em;}
input[type="submit"] {background:#11223d;color:#fff;}
a {vertical-align:middle;box-sizing:border-box;color:#333;text-decoration:none;}
a:hover {color:yellow; color:#000;text-decoration:none;}

.buttons span a {display:inline-block;height:2.2em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.buttons span a:hover {border-color:#11223d;color:#000;text-decoration:none;}

/* Header */
#header {width:100%;height:2.5em;float-left;position:fixed;background:rgba(51,54,59,0.80);color:#EEEEEE;z-index:99999;}
.head_container {width:800px;padding-left:7px;}
.head_container span {height:100%;vertical-align:baseline;}
.head_container div {height:2.5em;padding-top:.2em;}
/*.head_container div.power span {margin-left:1em;}*/

.head_logo {height:100%;margin-right:.5em;}
.head_logo img {width:2.1em;height:2.1em;}
.head_info {width:580px;padding-top:.2em;font-size:.9em;color:rgba(255,255,255,.5);font-weight:lighter;font-style:italic;}
.head_menu a {color:rgba(255,255,255,0.7);}
.head_menu a:hover {color:#fff;}

/* Drop down menu */
#mainnav ul {list-style: none;}
#mainnav ul li {float:left;margin-right:.8em;}
#mainnav ul li.head_menu {margin-left:.5em;padding-top:.3em;font-size:.9em;}
#mainnav ul li a {display:block;position:relative;width:auto;}
#mainnav ul li ul {display:none;}
#mainnav ul li:hover ul {display:block;padding:.5em;position:absolute;background:#585A5E;}
#mainnav ul li ul li {display:block;float:none;position:relative;padding:.2em;font-size:.9em;}
#mainnav ul li ul li.titlemenu {border-bottom:dotted 1px #fff;}

#power ul {list-style: none;}
#power ul li {float:left;margin-left:.8em;}
#power ul li a {display:block;position:relative;width:auto;}
#power ul li ul {display:none;}
#power ul li:hover ul {display:block;padding:.0em;position:absolute;top:2.5em;left:0em;width:98%;height:10em;margin:.2em;background:#fff;box-shadow:0 0 3px 3px #999;text-align:center;}
#power ul li ul li {display:block;float:none;position:relative;padding:.2em;}
#power div {margin:.1em;padding:.1em;}
#power .power_container {text-align:center;margin:.5em;font-size:1.2em;}
#power table {width:100%;}
#power table td {height:2.5em;margin:0;padding:0;}
#power table td.power_input {width:auto;}
#power table td.power_login {width:5em;}
#power input[type="text"], input[type="password"] {width:100%;height:2.5em;padding:.2em;}
#power input[type="submit"] {display:block;width:100%;height:5em;margin:0;padding:0;}
#power div.power_user {height:5em;vertical-align:middle;color:black;}
#power div.power_button input[type="submit"] {height:auto;}

/* Layout */
#wrap {margin:0;padding-left:10px;padding-top:2.2em;}

.subnav {display:table;width:800px;margin-top:.3em;padding:1em;padding-top:0;padding-bottom:.3em;background:#33363B;color:#9EA3A8;font-size:.9em;font-weight:lighter;}
.subnav span {display:inline-block;margin-right:.5em;}
.subnav span:after {content:'|';}
.subnav span:last-child:after {content:'';}

/* Contents */
.container {width:980px;margin:0;position:relative;}
#contents {width:800px;padding:.5em;background:#fff;}
#contents:after {content:'';display:block;clear:both;}

.sidebar {width:180px;float:left;position:absolute;top:0;left:800px;padding:.3em}
.sidebar_container {width:100%;height:135px;background:#fff;border:1px solid #11223d;}
.sidebar_username {height:2.6em;margin:.3em;padding:.3em;border-bottom:1px solid #11223d;vertical-align:middle;}
.sidebar_notice {height:2.6em;margin:.3em;padding:.3em;vertical-align:middle;}
.sidebar_message {font-size:.8em;}
.sidebar_message_no {color:#ee2d31;font-weight:bold;}
.sidebar_buttons {font-size:.8em;}
.sidebar_buttons input[type="submit"] {width:100%;height:2.4em;margin-left:.3em;margin-bottom:.4em;}
.sidebar_buttons span a {display:inline-block;height:2em;margin-left:.5em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;font-size:.9em;line-height:1.9em;}
.sidebar_login {text-align:right;height:2em;margin:.3em;font-size:.9em;}
.sidebar_login input {height:2em;font-size:.9em;margin:.1em;padding:.2em;}

.annotation {min-height:0.1em;margin:0 0 1em 0;padding:.9em 0;padding-left:.2em;border-bottom:1px solid #11223d;font-size:.8em;color:#666;}
.annotation span a {display:inline-block;height:2.2em;margin-left:.5em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.annotation span a:hover, .sidebar_buttons span a:hover {border-color:#11223d;color:#000;text-decoration:none;}

/* board list */
table.board {width:100%;text-align:center;}
table.board thead {background:#F9F9F9;}
table.board tr {border:1px solid #ABB2AC;}
table.board tr:hover {background-color:#F9F9F9;}
table.board td {height:2em;padding:.2em;font-size:.92em;}
table.board td a {color:#11223d;}
table.board td a:visited {color:#33363B;}
table.board td a:visited:hover {color:#AD3B35;}
table.board td a:hover {text-decoration:none;color:#E54F44;}
table.board td.notice a {color:#33363B;}
table.board td.notice a:visited {color:#33363B;}
table.board th.subject {width:auto;min-width:420px;}
table.board th.name {width:100px;}
table.board th.like_count {width:50px;}
table.board th.view_count {width:50px;}
table.board th.datetime {width:60px;}
table.board td.subject {width:auto;text-align:left;}
table.board td.subject span.category {margin-right:.5em;color:#9393AE;font-size:.85em;font-weight:300;border-right:0px solid #999;}
table.board td.subject span {font-size:.85em;font-weight:bold;color:#409BD1;}
table.board td.notice {font-weight:bold;}
table.board td.article_info {font-size:.8em;}
table.board tr.article_info_mobile {display:none;border-bottom:1px solid #ABB2AC;}
table.board tr.article_info_mobile td {width:100%;font-size:.8em;text-align:left;}
table.board tr.article_info_mobile span {padding:.1em;font-weight:300;color:#999;border-right:0px dotted #9393AE;}

/* navigation */
.navigator {width:99%;margin:.5em;padding:0;text-align:center;font-size:.9em;}
.navigator span a {display:inline-block;height:2.2em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.navigator span a:hover {border-color:#11223d;color:#000;text-decoration:none;}
.navigator span a.current_page {background:#11223d;color:#fff;}
.navigator span a.jump {margin:.0em;background:#fff;border-color:#fff;}
.navigator span a.jump:hover {background:#fff;border-color:#11223d;}
.nabingator {width:100%;text-align:center;}
.nabingator table {width:100%;height:2.5em;border-bottom:1px dotted #999;border-left:0;border-right:0;}
.nabingator table td {padding-bottom:.5em;}

.align-center {text-align:center;}
.align-right {text-align:right;}
.float-left {float:left;}
.float-right {float:right;}
.align-right {text-align:right;}
.margin-right-6 {margin-right:.6em;}

/* search */
.dbsearch {margin:1.5em 0;padding:0;text-align:center;font-size:.8em;}
.dbsearch select {width:6.5em;max-width:100px;height:2.5em;border:1px solid #999;line-height:2.5em;vertical-align:middle;}
.dbsearch input.search_word {width:25em;height:2.5em;margin-left:2px;padding:0 5px;border:1px solid #999;background:#fff;vertical-align:middle;}
.dbsearch input.search_button {width:3.5em;height:2.5em;margin-left:2px;border:1px solid #11223d;background:#11223d;color:#fff;line-height:2.5em;vertical-align:middle;}
.dbsearch input.search_button:hover {background-color:#283850;cursor:pointer;}
.dbsearch span a {display:inline-block;height:2.2em;margin-left:.5em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.dbsearch span a:hover {border-color:#11223d;color:#000;text-decoration:none;}

/* edit article */
.input_subject {margin-bottom:0.5em;}
.input_subject input {width:100%;padding:.3em;height:2.2em;line-height:2.2em;}
.input_msg {margin-bottom:1em;margin-left:1em;color:#283850;font-size:.8em;}
.input_reference {margin-bottom:1.0em;}
.input_reference input {width:100%;padding:.3em;height:2.2em;line-height:2.2em;}
.input_category {margin-bottom:1.0em;padding-left:1.0em;}
.input_category select {width:8.5em;max-width:200px;height:2.0em;margin-left:2em;border:1px solid #999;line-height:2.1em;vertical-align:middle;}
.input_status {margin-bottom:1.0em;padding-left:1.0em;color:red;}
.input_status select {width:8.5em;max-width:200px;height:2.0em;margin-left:2em;border:2px dashed #7395CC;line-height:2.1em;vertical-align:middle;}
.input_submit {text-align:center;}

/* show article */
.article_subject {width:100%;color:#000;font-size:1.3em;}
.article_subject span {font-size:.9em;font-weight:bold;color:#999;}
.article_user {margin-top:0.5em;padding:0.5em;width:100%;height:3em;line-height:1.9em;vertical-align:middle;background:#f6f6f6;}
.article_view_count {float:right;margin-right:0;vertical-align:middle;font-size:.8em;color:#888;}
.article_view_count span {margin-left:.3em;margin-right:0;}
.article_view_count a span {display:inline-block;width:3em;height:100%;margin-left:.2em;box-sizing:border-box;border:1px solid #a5a5a5;background:#11223d;color:#fff;text-align:center;}
.article_view_misc {margin-left:.5em;font-size:.8em;color:#999;vertical-align:middle;}
.article_view_ip {margin-right:.5;letter-spacing:.1em;}
.article_view_content {display:inline-block;width:100%;margin-top:.5em;margin-bottom:.5em;}
.article_view_content img {max-width:100%;}
.article_view_reference {margin:1.5em;margin-bottom:0;margin-right:0;height:2.0em;vertical-align:middle;background:#EDEDED;font-size:0.8em;}
.article_view_reference a:hover {color:#E54F44;}
.article_view_msg {height:1.5em;text-align:center;vertical-align:middle;}
.article_view_msg span {font-size:.8em;color:#888;}
.article_view_buttons {margin:.5em;text-align:center;}
.article_view_buttons span a {display:inline-block;height:2.2em;margin-left:.0em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.article_view_buttons span a:hover {border-color:#11223d;color:#000;text-decoration:none;}
.article_view_buttons span.like a {background:#11223d;color:#fff;}
.article_view_buttons span.like a:hover {background:#283850;color:#fff;}
.article_view_buttons span.delete a {background:#E54F44;color:#fff;}
.article_view_buttons span.delete a:hover {background:#FF574F;color:#fff;}

.popup_frame {height:auto;min-height:2em;padding:.5em;background-color:#fff;font-size:.8em;display:block;z-index:99997;color:#000;box-shadow:0 0 3px 3px #999;}
.popup_frame span {margin:.1em;display:inline-block;height:1.8em;padding:0 .15em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:1.9em;vertical-align:center;}
.popup_frame span a:hover {background:gray;}
.popup_frame table tr:hover {background-color:#f6f6f6;}
.popup_frame table td a:hover {text-decoration:none;color:#E54F44;}

/* reply */
.reply_header {height:2.8em;margin-top:.5em;margin-bottom:1em;background:#F9F9F9;padding:.3em;border:1px solid #999;border-radius:.5em;font-size:.9em;line-height:2em;vertical-align:middle;}
.reply_header span {color:#409BD1;}
.reply_body {border-bottom:1px solid #999;}
.reply_title {height:2.4em;background:#F7F7F7;padding:.2em;vertical-align:middle;font-size:.9em;}
.reply_title span {margin-right:.5em;font-size:.8em;color:#11223d;}
.reply_title span.reply_username {font-weight:bold;}
.reply_title span.reply_date {color:#999;}
.reply_title span.reply_delete a {color:#E54F44;}
.reply_body_owner {background:#F4F5F9;}
.reply_title_owner {background:#EFF0F4;}
.reply_self {border:1px solid #11223D;}
.reply_to {padding-left:.5em;color:#999;font-size:.8em;}
span.thumb_up_msg {color:#1e88e5;}
span.thumb_down_msg {color:#e02d31;}
span.open_reply a {color:#409BD1;}
.reply_image {display:inline-block;padding:.5em;}
.reply_image img {max-width:100%;max-height:100%;}
.reply_content {padding:.5em;font-size:.9em;}
.reload_reply {height:3em;margin:.5em;padding:.5em;text-align:center;vertical-align:middle;font-size:.8em;}
.input_reply {margin-bottom:1em;}
.input_reply_text textarea {width:100%;height:6em;line-height:1.2em;}
.input_reply_buttons input[type="file"] {width:200px;font-size:.9em;}
.input_reply_buttons input[type="button"] {background:#11223d;color:#fff;}

table.dynamic_input_reply td.input_rereply {padding-right:.5em;}

/* registrations */
.signup {width:100%;margin-bottom:.5em;}
.signup table {width:100%;}
.signup td {height:3em;padding:.2em;border-bottom:1px solid #9393AE;}
.signup td.label {min-width:72px;width:auto;padding-right:.5em;border-right:1px solid #9393AE;font-size:.8em;text-align:right;}
.signup td.required {font-weight:bold;}
.signup td.input {padding-left:.5em;font-size:.9em;}
.signup td.ad-client input {width:13em;}
.signup div {margin:.5em;font-size:.9em;}
.signup div.concent div {text-align:center;}
/*.member {margin:1.25em auto 1.6em;background:#fff;}*/
.member input {height:2.2em;padding-left:.2em;vertical-align:middle;}
.member input[type="button"] {padding:0 10px;font-size:.9em;}
.member input[type="submit"] {display:inline-block;width:100px;height:2.5em;margin-top:10px;margin-bottom:10px;vertical-align:middle;}
.member a:link {color:#417690; text-decoration:none;}
.member a:visited {color:#417690; text-decoration:none;}
.member a:hover {color:#be131c; text-decoration:none;}
.member span a {display:inline-block;height:2.8em;margin-left:.5em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.7em;}
.member span a:hover {border-color:#11223d;color:#000;text-decoration:none;}
.password_reset_text {margin-left:.5em;padding-top:.5em;font-size:.9em;}
.password_reset_email {width:100%;font-size:.9em;}
.password_reset_email input {width:95%;margin-left:.5em;margin-top:.5em;height:2.4em;vertical-align:middle;}
.full_login_container {width:100%;text-align:center;}
.full_login {display:inline-block;width:100%;max-width:20em;text-align:center;}
.full_login div {height:2.5em;margin:.2em;padding:.2em;}
.full_login input[type="text"], input[type="password"] {width:100%;height:2.5em;padding:.2em;}
.full_login input[type="submit"] {width:100%;height:2.5em;margin:0;}

/* Footer */
#footer {padding:1em;text-align:center;font-size:.9em;}
#footer:after {content:'';display:block;clear:both;}
.footerMenu {display:inline-block;}
.footerMenu:after {content:'';display:block;clear:both;}
.footerMenu li {float:left;margin: 0 3px;font-size:.8em;vertical-align:top;}
.footerMenu li + li:before {content:'| ';margin:0 5px;color:#ddd;}
.footerMenu li , .footerMenu li a {vertical-align:top;}

/* adsense */
.sense_horizontal_bar {padding-top:.5em;margin-top:.5em;margin-bottom:.5em;}
.sense_sidebar {width:150px;padding-left:.5em;margin-top:.5em;}

@media all and (min-width:1080px) {
    .container {margin:auto;}
}
@media all and (min-width:768px) {
    .mobile_show {display:none;}
}
@media all and (max-width:767px) {
    body {font-size:1em;}
    .head_container {width:100%;}
    .head_container div {padding-right:1em;padding-top:.4em;font-size:.9em;}
    #wrap {padding-left:0;padding-top:1.5em;}
    .container {width:auto;margin:0;}
    #contents {width:100%;}
    .subnav {width:100%;margin-top:1.2em;font-size:.8em;}
    .sidebar {display:none;}
    table.board thead {display:none;}
    table.board tr {border:none;}
    table.board td.article_info {display:none;}
    table.board tr.article_info_mobile {display:block;}
    .dbsearch input.search_word {width:auto}
    .mobile_hide {display:none;}
}
