@charset "utf-8";
body {font-family:Noto Sans KR, sans-serif;}
body, html {width:100%;margin:0;padding:0;background:#EDEDED;font-size:1.0em;}
div,p,h1,h2,h3,h4,h5,h6,section, article, aside, footer, figure, figcaption, nav,ul,ol,li,dl,dt,dd,table,tr,thead,tbody,tfoot,td,th,a,span,strong,em,i,img,address,form,fieldset,legend,input,textarea,select,label,button,pre,
iframe {margin:0;padding:0;}
section, article, aside, footer, figure, figcaption, nav {display:block;}
img {border:0 none;vertical-align:middle;}
address, em, cite {font-style:normal;}
hr {display:block;height:1px;border:0;border-top:1px solid #aaa;}
table {border-collapse:collapse;border-spacing:0;}
table th, table td {word-break:break-all;}
dd, dl, ol, ul, form {margin:0;padding:0;}
li {list-style-type:none;}
form {margin:0;padding:0;}
div {box-sizing:border-box;}
span {box-sizing:border-box;}
pre {box-sizing:border-box;margin-top:.5em;margin-bottom:.5em;background:#EFF0F1;font-size:.9em;font-family:"Courier";overflow-x:scroll;}
pre td.hljs-ln-code {white-space:pre-wrap !important;}
input, button, select, textarea {box-sizing:border-box;}
input[type="button"], input[type="submit"] {cursor:pointer;display:inline-block;height:2.2em;margin-left:.5em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.2em;-webkit-appearance:none;}
input[type="submit"] {background:#11223d;color:#fff;-webkit-appearance:none;}
input[type="submit"]:hover {background-color:#283850;}
input.delete {background:#E54F44;color:#fff;}
input.delete:hover {background:#FF574F;color:#fff;}
input[type="button"]:hover {border-color:#11223d;}
input.submit {background:#11223d;color:#fff;}
input.submit:hover {background-color:#283850;}
a {vertical-align:baseline;box-sizing:border-box;color:#333;text-decoration:none;}
a:hover {color:#000;text-decoration:none;}
img.portrait {width:150px;height:150px;}

.buttons span a {display:inline-block;height:2.2em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.buttons span a:hover {border-color:#11223d;color:#000;text-decoration:none;}

/* Header */
#header {width:100%;height:2.5em;float-left;position:fixed;background:rgba(65,52,55,0.8);color:#EEEEEE;z-index:99980;}
.head_container {width:800px;padding-left:7px;}
.head_container span {height:100%;vertical-align:baseline;}
.head_container div {height:2.5em;padding-top:.2em;}

.head_logo {height:100%;margin-right:.5em;}
.head_logo img {width:32px;height:32px;}
.head_info {width:580px;padding-top:.2em;color:rgba(255,255,255,.5);font-weight:lighter;font-style:italic;}
.head_menu a {color:rgba(255,255,255,0.7);}
.head_menu a:hover {color:#fff;}
.head_menu img {vertical-align:middle;}

/* Drop down menu */
#mainnav ul {list-style: none;}
#mainnav ul li {float:left;margin-right:.8em;}
#mainnav ul li.head_menu {margin-left:.3em;padding-top:.2em;}
#mainnav ul li a {display:block;position:relative;width:auto;}
#mainnav ul li ul {display:none;}
#mainnav ul li:hover ul {display:block;padding:.5em;position:absolute;background:#675D5F;}
#mainnav ul li ul li {display:block;float:none;position:relative;padding:.2em;}
#mainnav ul li ul li.titlemenu {border-bottom:dotted 1px #fff;}
#mainnav ul li ul li a {display:inline-block;margin-left:.5em;}

#power ul {list-style: none;}
#power ul li {float:left;margin-left:.8em;}
#power ul li a {display:block;position:relative;width:auto;}
#power ul li ul {display:none;}
#power ul li:hover ul {display:block;padding:0em;position:absolute;top:2.5em;left:0em;width:98%;height:8em;margin:.2em;background:#fff;box-shadow:0 0 3px 3px #999;text-align:center;}
#power ul li ul li {display:block;float:none;position:relative;padding:.2em;}
#power div {margin:.1em;padding:.1em;}
#power .power_container {text-align:center;margin:.5em;font-size:1.2em;}
#power table {width:100%;}
#power table td {height:2.1em;margin:0;padding:0;}
#power table td.power_input {width:auto;}
#power table td.power_login {width:5em;}
#power table td.power_text {font-size:.8em;}
#power input[type="text"], input[type="password"] {width:100%;height:2.5em;margin:0em;padding:.2em;}
#power input[type="submit"] {display:block;width:100%;height:100%;margin:.1em;padding:0;border-radius:.5em;font-size:1.0em;}
#power div.power_user {height:3em;vertical-align:middle;color:black;}
#power div.power_user span.power_util span {display:inline-block;margin-left:.5em;}
#power div.power_button input[type="submit"] {height:auto;}

/* Layout */
#wrap {margin:0;padding-left:10px;padding-top:2.2em;}

.subnav {display:table;width:800px;margin-top:.3em;padding:1em;padding-top:.3em;padding-bottom:.5em;background:#33363B;color:#9EA3A8;}
.subnav span {display:inline-block;margin-right:.5em;}
.subnav span a {vertical-align:baseline;}
.subnav span:after {content:'|';}
.subnav span:last-child:after {content:'';}
.subnav_blog_title {width:100%;margin-bottom:.2em;padding:1em 0 1.5em .5em;border-bottom:1px solid #666;}
.subnav_blog_title span {vertical-align:middle;}
.subnav_blog_title span:after {content:'';}
.subnav_blog_title span a {color:#fff;font-size:2em;font-weight:bold;}
.subnav_blog_title span.blog_description {vertical-align:middle;font-style:italic;font-size:.95em;}

/* portal */
.banner {display:inline-block;width:100%;}
.banner img {max-width:100%;}
.banner_title {max-width:80%;margin:0 auto;padding-top:1em;text-align:center;font-size:2em;font-weight:300;}
.banner_button {text-align:center;}
.banner_button input {margin:1.5em;min-width:200px;height:2.8em;font-size:1.2em;}
.board_sample {margin-top:.5em;}
.board_sample div p {margin:.5em;}
.sample_wrapper {float:left;width:100%;margin:.5em;}
.sample_icon {position:relative;display:inline-block;position:relative;width:64px;height:64px;float:left;}
.sample_icon img {max-width:100%;}
.sample_text {display:block;width:300px;padding-left:1em;vertical-align:middle;float:left;}
.sample_text a {color:red;font-weight:bold;}
.oneline {padding-top:1.2em;}
.qnr {margin:.5em;}
.qnr a {color:#0073aa !important;}
.qnr a:hover {color:#3992bf !important;}
.qnr div {margin-top:1em;}
.qnr_title {padding-bottom:.5em;font-size:1.5em;border-bottom:1px solid #666;}
table.sample td {text-align:left;vertical-align:top;}
table.sample td.right {width:50%;border-left:1px solid #11223d;}
table.sample div.titlebar {height:2.6em;margin-bottom:.3em;margin-right:.1em;padding-top:.4em;background:#EDEDED;text-align:center;}
table.sample div.titlebar img {vertical-align:middle;}
table.sample div.title {margin:1em;font-size:1.5em;}
.sample_subject {min-height:2.1em;}
.sample_subject span.reply_count {font-size:.85em;font-weight:bold;color:#409BD1;}

.instruction {width:270px;margin:auto;float:center;border:2px dashed #a5a5a5;background:#f6f6f6;text-align:center;}
.instruction div {margin:1em;}
.instruction a {color:#0073aa;}
.instruction a:hover {color:#3992bf;}
.up_button {position:fixed;bottom:70px;right:15px;z-index:99999;background-color:rgba(65,52,55,0.2);}
.down_button {position:fixed;bottom:15px;right:15px;z-index:99999;background-color:rgba(65,52,55,0.1);}

/* Contents */
.container {width:980px;margin:0;position:relative;}
#contents {width:800px;padding:.5em;background:#fff;}
#contents:after {content:'';display:block;clear:both;}

.sidebar {width:180px;float:left;position:absolute;top:0;left:800px;padding:.2em}
.sidebar_container {width:100%;height:142px;background:#fff;border:1px solid #11223d;}
.sidebar_user {height:2.8em;margin:.2em;padding:.2em;border-bottom:1px solid #11223d;vertical-align:middle;}
.sidebar_user span {display:inline-block;vertical-align:middle;}
.sidebar_user span.sidebar_username {max-width:130px;font-size:.85em;}
.sidebar_notice {height:2.6em;margin:.3em;padding:.3em;vertical-align:middle;text-align:center;}
.sidebar_notice span {display:inline-block;vertical-align:middle;}
.sidebar_buttons {font-size:.9em;}
.sidebar_buttons input[type="submit"] {width:100%;height:2.4em;margin:.3em;}
.sidebar_buttons span a {display:inline-block;height:2em;margin-left:.4em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;font-size:.9em;line-height:1.9em;}
.sidebar_login {text-align:right;height:2em;margin:.3em;font-size:.9em;}
.sidebar_login input {width:100%;height:2em;padding:.2em;}

.side_menu {width:100%;height:auto;margin-top:.5em;padding-bottom:.3em;background:#DDD;border:0px solid #11223d;text-align:center;}
.side_menu div {padding-top:.3em;}
.side_menu input {box-sizing:border-box;width:100%;height:2.5em;padding:.3em;}

.annotation {min-height:0.1em;margin:0 0 1em 0;padding:.9em 0;padding-left:.2em;border-bottom:1px solid #11223d;font-size:.9em;color:#666;}
.annotation span a {display:inline-block;height:2.2em;margin-left:.5em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.annotation span a:hover, .sidebar_buttons span a:hover {border-color:#11223d;color:#000;text-decoration:none;}
.annotation div {margin-top:.4em;}
.annotation span.delete a {background:#E54F44;color:#fff;}
.annotation span.delete a:hover {background:#FF574F;color:#fff;}

/* board list */
table.board {width:100%;text-align:center;}
table.board thead {background:#F9F9F9;}
table.board tr {border:1px solid #ABB2AC;}
table.board tr:hover {background-color:#F9F9F9;}
table.board tr.deactivated {background-color:#DDD;}
table.board tr.deactivated:hover {background-color:#AAA;}
table.board td {height:2em;padding:.2em;font-size:.92em;}
table.board td a {color:#11223d;}
table.board td a:visited {color:#33363B;}
table.board td a:visited:hover {color:#AD3B35;}
table.board td a:hover {text-decoration:none;color:#E54F44;}
table.board td.title {border-bottom:1px solid #a5a5a5;font-size:.8em;text-align:left;}
table.board td.title a:hover {color:#409BD1;}
table.board td.title div.dashboard_function a {color:#0073aa;}
table.board td.title div.dashboard_function a:hover {color:#409BD1;}
table.board td.title div.dashboard_function span.delete a {color:#E54F44;}
table.board td.notice a {color:#33363B;}
table.board td.notice a:visited {color:#33363B;}
table.board td span.bloginfo {display:inline-block;margin-left:.3em; padding:0 .3em 0 .3em;background-color:#413C36;color:#fff;font-size:.8em;}
table.board th.subject {width:auto;min-width:420px;}
table.board th.name {width:100px;}
table.board th.like_count {width:40px;}
table.board th.view_count {width:50px;}
table.board th.datetime {width:50px;}
table.board th.fulldate {width:100px;}
table.board th.delete {width:60px;}
table.board th.title {width:auto;min-width:310px;}
table.board th.category {width:110px;}
table.board th.tag {width:180px;}
table.board th.blogcount {width:100px;}
table.board th.longname {width:140px;}
table.board th.email {width:160px;}
table.board td.subject {width:auto;min-width:110px;text-align:left;}
table.board td.subject span.reply_count {font-size:.85em;font-weight:bold;color:#409BD1;}
table.board td.subject span.category {margin-right:.5em;color:#9393AE;font-size:.85em;font-weight:300;border-right:0px solid #999;}
table.board td.subject span.canceled {text-decoration:line-through;}
table.board td.subject span.warning {color:#E54F44;font-size:.8em;}
table.board td.subject span.done a {color:#9393AE;}
table.board td.subject span.done span {color:#E54F44;font-size:.8em;}
table.board td.notice {font-weight:bold;}
table.board td.article_info {font-size:.8em;}
table.board td.article_hot {color:#E54F44;}
table.board td.scrap_delete a {color:#E54F44;}
table.board td.alias {width:120px;border-bottom:1px solid #a5a5a5;font-size:.8em;}
table.board tr.article_info_mobile {display:none;border-bottom:1px solid #ABB2AC;}
table.board tr.article_info_mobile td {width:100%;font-size:.8em;text-align:left;}
table.board tr.article_info_mobile span {padding:.1em;font-weight:300;color:#999;border-right:0px dotted #9393AE;}
table.board tr.article_info_mobile span a {vertical-align:baseline;}
table.board tr.article_info_mobile span.article_hot {color:#E54F44;}
table.board tr.article_info_mobile span.scrap_delete a {vertical-align:baseline;color:#E54F44;}

/* navigation */
.navigator {width:99%;margin:.5em;padding:0;text-align:center;font-size:.9em;}
.navigator span a {display:inline-block;height:2.2em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.navigator span a:hover {border-color:#11223d;color:#000;text-decoration:none;}
.navigator span a.current_page {background:#11223d;color:#fff;}
.navigator span a.jump {margin:.0em;background:#fff;border-color:#fff;}
.navigator span a.jump:hover {background:#fff;border-color:#11223d;}
.nabingator {width:100%;text-align:center;}
.nabingator table {width:100%;height:2.5em;border-bottom:1px dotted #999;border-left:0;border-right:0;}
.nabingator table td {padding-bottom:.5em;vertical-align:baseline;}

.align-center {text-align:center;}
.align-right {text-align:right;}
.float-left {float:left;}
.float-right {float:right;}
.margin-right-4 {margin-right:.4em;}
.margin-right-6 {margin-right:.6em;}

/* search */
.dbsearch {text-align:center;}
.dbsearch select {width:6.5em;max-width:100px;height:2.5em;border:1px solid #999;line-height:2.5em;vertical-align:middle;}
.dbsearch input.search_word {width:20em;height:2.5em;margin-left:2px;padding:0 5px;border:1px solid #999;background:#fff;vertical-align:middle;}
.dbsearch input.search_post {width:90%;height:2.5em;margin-left:2px;padding:0 5px;border:1px solid #999;background:#fff;vertical-align:middle;}
.dbsearch input.search_button {width:auto;height:2.5em;margin-left:.1em;border:1px solid #11223d;background:#11223d;color:#fff;line-height:2.5em;vertical-align:middle;}
.dbsearch input.search_button:hover {background-color:#283850;cursor:pointer;}

/* edit article */
.input_subject {margin-bottom:0.5em;}
.input_subject input {width:100%;padding:.3em;height:2.8em}
.input_text {width:100%;}
.input_text textarea {width:100%;height:11em;line-height:1.2em;padding:.3em;}
.input_msg {margin-bottom:1em;margin-left:1em;color:#283850;font-size:.9em;}
.input_reference {margin-bottom:1.0em;}
.input_reference input {width:100%;padding:.3em;height:2.2em;line-height:2.2em;}
.input_category {margin-bottom:1.0em;padding-left:1.0em;}
.input_category select {width:8.5em;max-width:200px;height:2.0em;margin-left:2em;border:1px solid #999;line-height:2.1em;vertical-align:middle;}
.input_category div {margin-top:.2em;font-size:.9em;color:#666;}
.input_status {margin-bottom:1.0em;padding-left:1.0em;color:red;}
.input_status select {width:8.5em;max-width:200px;height:2.0em;margin-left:2em;border:2px dashed #7395CC;line-height:2.1em;vertical-align:middle;}
.input_submit {text-align:center;}
.input_submit input {font-size:1.1em;}

/* show article */
.article_subject {width:100%;color:#000;font-size:1.3em;}
.article_subject span {font-size:.9em;font-weight:bold;color:#999;vertical-align:baseline;}
.article_user {margin-top:0.5em;padding:0.5em;width:100%;height:3em;line-height:1.9em;vertical-align:middle;background:#f6f6f6;}
.article_view_count {float:right;margin-right:0;vertical-align:middle;font-size:.8em;color:#888;}
.article_view_count span {margin-left:.3em;margin-right:0;}
.article_view_count a span {display:inline-block;width:3em;height:100%;margin-left:.2em;box-sizing:border-box;border:1px solid #a5a5a5;background:#11223d;color:#fff;text-align:center;}
.article_view_misc {margin-left:.5em;font-size:.8em;color:#999;vertical-align:middle;}
.article_view_ip {margin-right:.5;letter-spacing:.1em;}
.article_view_content {display:inline-block;width:100%;margin-top:.5em;margin-bottom:.5em;overflow-wrap:break-word;}
.article_view_content iframe {max-width:100%;}
.article_view_content img {max-width:100%;}
.article_view_content a {vertical-align:baseline;color:#428bca;}
.article_view_content a:hover {color:#E54F44;}
.article_view_reference {margin:1.5em;margin-bottom:0;margin-right:0;min-height:2.0em;height:auto;vertical-align:middle;background:#EDEDED;font-size:0.8em;}
.article_view_reference a {vertical-align:middle;}
.article_view_reference a:hover {color:#E54F44;}
.article_view_msg {height:1.5em;text-align:center;vertical-align:middle;}
.article_view_msg span {font-size:.8em;color:#888;}
.article_view_buttons {margin:.5em;text-align:center;}
.article_view_buttons span a {display:inline-block;height:2.2em;margin-left:.0em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.article_view_buttons span a:hover {border-color:#11223d;color:#000;text-decoration:none;}
.article_view_buttons span.like a {background:#11223d;color:#fff;}
.article_view_buttons span.like a:hover {background:#283850;color:#fff;}
.article_view_buttons span.delete a {background:#E54F44;color:#fff;}
.article_view_buttons span.delete a:hover {background:#FF574F;color:#fff;}

.popup_frame {height:auto;min-height:2em;padding:.5em;background-color:#fff;font-size:.8em;display:block;z-index:99999;color:#000;box-shadow:0 0 3px 3px #999;}
.popup_frame span {margin:.1em;display:inline-block;height:1.9em;padding:.1em;padding-top:0;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;vertical-align:middle;}
.popup_frame span a:hover {background:#CCC;vertical-align:middle;}
.popup_frame table tr:hover {background-color:#f6f6f6;}
.popup_frame table td a:hover {text-decoration:none;color:#E54F44;}

#like_users_popup {position:absolute;width:280px;}
.like_users_title {background:#EDEDED;color:#000;text-align:center;margin-bottom:.5em;padding:.1em;}

/* reply */
.reply_header {height:2.8em;margin-top:.5em;margin-bottom:1em;background:#F9F9F9;padding:.3em;border:1px solid #999;border-radius:.5em;font-size:.9em;line-height:2em;vertical-align:middle;}
.reply_header span {color:#409BD1;}
.reply_body {border-bottom:1px solid #999;}
.reply_title {height:2.4em;background:#F7F7F7;padding:.2em;vertical-align:middle;font-size:.9em;}
.reply_title span {margin-right:.3em;font-size:.9em;color:#11223d;}
.reply_title span a {vertical-align:baseline;}
.reply_title span.reply_username {font-weight:bold;}
.reply_title span.reply_date {color:#999;}
.reply_title span.reply_delete a {color:#E54F44;}
.reply_title span.reply_restore a {color:#32A1FD;}
.reply_body_owner {background:#F4F5F9;}
.reply_title_owner {background:#EFF0F4;}
.reply_self {border:1px solid #11223D;}
.reply_to {padding-left:.5em;color:#999;font-size:.9em;}
span.thumb_up_msg {vertical-align:middle;color:#1e88e5;}
span.thumb_down_msg {vertical-align:middle;color:#e02d31;}
span.open_reply a {color:#409BD1;}
.reply_image {display:inline-block;padding:.5em;}
.reply_image img {max-width:100%;max-height:100%;}
.reply_content {padding:.5em;overflow-wrap:break-word;}
.reply_content a {color:#428bca;}
.reply_content a:hover {color:#E54F44;}
.deleted_reply {font-size:.8em;color:#32A1FD;}
.reload_reply, .reload_team {height:3em;margin:.5em;padding:.5em;text-align:center;vertical-align:middle;font-size:.9em;}
.reload_reply span#show_new_reply a {background:#11223d;color:#fff;}
.reload_team span#show_new_team a {background:#11223d;color:#fff;}
.input_reply {margin-bottom:1em;}
.input_reply_text textarea {width:100%;height:6em;line-height:1.2em;padding:.3em;}
.input_reply_buttons input[type="file"] {width:200px;font-size:.9em;}
.input_reply_buttons input[type="button"] {background:#11223d;color:#fff;font-size:1em;}

table.dynamic_input_reply td.input_rereply {padding-right:.5em;}

/* common table for editing */
.editing {width:100%;margin-bottom:.5em;}
.editing table {width:100%;}
.editing tr#code_hide {display:none;}
.editing td {height:3em;padding:.2em;border-bottom:1px solid #9393AE;}
.editing td.label {min-width:80px;width:auto;padding-right:.5em;border-right:1px solid #9393AE;font-size:.9em;text-align:right;}
.editing td.required {font-weight:bold;}
.editing td.input {padding-left:.5em;font-size:.9em;}
.editing td.ad-client input {width:13em;}
.editing div {margin:.4em;font-size:.9em;}
.editing div.concent, .member div.concent div {text-align:center;font-size:.9em;}
.editing div.msg_content textarea {width:100%;padding:.3em;}

/* registrations */
.member input {height:2.2em;padding-left:.2em;}
.member input[type="password"] {width:auto;}
.member input[type="button"] {padding:0 10px;font-size:.9em;}
.member input[type="submit"] {display:inline-block;width:100px;height:2.5em;margin-top:10px;margin-bottom:10px;vertical-align:middle;}
.member input[type="file"] {width:100%;}
.member select {width:10em;height:2.5em;border:1px solid #999;line-height:2.1em;vertical-align:middle;}
.member td.input textarea {width:100%;}
.member td.inputlong input {width:100%;}
.member a:link {color:#417690; text-decoration:none;}
.member a:visited {color:#417690; text-decoration:none;}
.member a:hover {color:#be131c; text-decoration:none;}
.member span a {display:inline-block;height:2.8em;margin-left:.5em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.7em;}
.member span a:hover {border-color:#11223d;color:#000;text-decoration:none;}
.member span.delete a {background:#E54F44;color:#fff;}
.member span.delete a:hover {background:#FF574F;color:#fff;}
.password_reset_text {margin-left:.5em;padding-top:.5em;font-size:.9em;}
.password_reset_email {width:100%;font-size:.9em;}
.password_reset_email input {width:95%;margin-left:.5em;margin-top:.5em;height:2.4em;vertical-align:middle;}
.full_login_container {width:100%;text-align:center;}
.full_login {display:inline-block;width:100%;max-width:20em;text-align:center;}
.full_login div {height:2.5em;margin:.2em;padding:.2em;}
.full_login input[type="text"], .full_login input[type="password"], .full_login input[type="tel"] {width:100%;height:2.5em;padding:.2em;}
.full_login input[type="submit"] {width:100%;height:2.5em;margin:0;}

/* inpage menu */
.gnb {width:auto;margin-bottom:.5em;}
.gnb:after {content:'';display:block;clear:both;}
.gnb li {float:left;margin-left:.3em;margin-bottom:.3em;background:#EDEDED;border-radius:.5em;}
.gnb li a {display:block;padding:.3em;color:#000;font-size:1.2em;}
.gnb li a:hover {color:#ee2d31;text-decoration:none;}

/* bookmarks */
#sort_items li {margin:.5em;padding:.5em;cursor:move;border:1px solid black;}
#sort_items img {vertical-align:baseline;}
#sort_items div {cursor:move;}
#sort_items input[type='text'] {height:2em;padding:.2em;}
.add_category {margin:.5em;}
.sortable_plate {float:right;margin-top:.5em;margin-bottom:1em;}

/* alarm */
#alarm_list {position:absolute;top:5px;right:180px;width:600px;height:60vh;overflow-y:scroll;min-height:2em;padding:.5em;background-color:#fff;font-size:.8em;display:block;z-index:99990;color:#000;box-shadow:0 0 3px 3px #D3908B;}
#alarm_list_mobile {position:absolute;top:0px;right:10px;width:90%;height:60vh;overflow-y:scroll;min-height:2em;padding:.5em;background-color:#fff;font-size:.8em;display:block;z-index:99990;color:#000;box-shadow:0 0 3px 3px #D3908B;}
.alarm {width:100%;margin-bottom:.5em;position:relative;margin: 0 auto;}
.alarm table {width:100%;}
.alarm td {padding:.2em;border-bottom:1px solid #9393AE;}
.alarm td a {vertical-align:baseline;}
.alarm td span.category {margin-right:.5em;color:#9393AE;}
.alarm td span.subject {margin-right:.5em;font-weight:bold;}
.alarm td span.message {color:red;}
.alarm div.alarm_msg {margin:.5em;color:#9393AE;text-align:center;}

/* message */
.message_with {font-weight:bold;}
.message span.msg_date {color:#9393AE;}
.message span a {color:#11223d;}
.message span.unread a {color:#FF574F;}
.message span a:hover {color:#E54F44;text-decoration:none;}
.message span.delete a {vertical-align:baseline;color:#E54F44;}
.conversation {display:inline-block;width:100%;margin:.5em;}
.conversation div {position:relative;margin:.3em;padding:.5em;border-radius:.5em;overflow-wrap:break-word;}
.conversation div.msg_time {display:inline-block;margin:0;margin-top:.2em;margin-left:.5em;padding:0;font-size:.8em;float:right;}
.other_msg div.msg_time {color:#999;}
.my_msg div.msg_time {color:#ddd;}
.msg_time span img {margin-left:.2em;vertical-align:baseline;}
.conversation div.other_msg {display:inline-block;min-width:50%;max-width:80%;background:#E5E5EA;color:#000;}
.conversation div.my_msg {display:inline-block;min-width:50%;max-width:80%;background:#32A1FD;color:#fff;float:right;margin-right:1.5em;}
.append_msg {display:inline-block;width:100%;margin-top:.5em;}
.append_msg textarea {width:100%;line-height:1.2em;padding:.3em;}
.append_msg span {color:#999;font-size:.9em;}

.tri-right.border.left-top:before {content:' ';position:absolute;width:0;height:0;left:-40px;right:auto;top:-8px;bottom:auto;border:32px solid;border-color:#666 transparent transparent transparent;}
.tri-right.left-top:after{content:' ';position:absolute;width:0;height:0;left:-20px;right:auto;top:0px;bottom:auto;border:22px solid;border-color:#E5E5EA transparent transparent transparent;}
.tri-right.border.right-in:before {content:' ';position:absolute;width:0;height:0;left:auto;right:-40px;top:30px;bottom:auto;border:20px solid;border-color:#666 transparent transparent #666;}
.tri-right.right-in:after{content:' ';position:absolute;width:0;height:0;left:auto;right:-20px;top:15px;bottom:auto;border:12px solid;border-color: #32A1FD transparent transparent #32A1FD;}

#team_slot {width:100%;}
.slot_notice {width:90%;max-width:600px;margin-bottom:.5em;color:#666;font-size:.9em;}
.slot_container {width:95%;max-width:500px;padding:.2em;background:#F6F6F6;}
.slot {margin:.5em;min-height:35px;background:#EDEDED;text-align:left;}
.slot img {width:30px;height:30px;}
.slot table {width:100%;}
.slot td {padding:.1em;}
.slot td.portrait {width:30px;padding-right:.5em;}
.slot td.tdlink {cursor:pointer;}
.slot span a {vertical-align:baseline;}
.slot span.platform_id {margin-left:.5em;letter-spacing:.1em;}
.slot span.platform_id a {color:#333;}
.slot span.platform_id a:hover {color:#D07D2F;}

/* blogs */
.blog_header {color:#000;border-bottom:1px solid #aaa;padding:.5em 0 1em .5em;}
.blog_header span {color:#aaa;font-weight:bold;}
.blog_header input:hover {border-color:#11223d;}
.blog_neck {margin:.5em;color:#444;}
.blog_wrapper {width:100%;}
.blog_wrapper:after {content:'';display:block;clear:both;margin-bottom:1em;}
.post_wrapper {float:left;width:100%;min-width:320px;padding:.5em;border-bottom:1px solid #aaa;}
.blog_thumbnail {display:inline-block;position:relative;width:200px;height:200px;float:left;margin-right:1em;}
.small_thumbnail {display:inline-block;position:relative;width:80px;height:80px;float:left;margin-right:1em;}
.blog_thumbnail img {width:100%;max-height:100%;}
.blog_thumbnail span {float:right;position:absolute;top:10px;right:0;width:30px;height:30px;padding-top:.3em;background-color:#85bf69;color:#fff;text-align:center;font-size:.9em;}
span.comment_over_thumbnail a {color:#fff;}
span.comment_over_thumbnail:hover {width:40px;}
.blog_sample {display:block;float:left;width:530px;margin:.5em;}
.blog_sample a {color:#3992bf;font-size:.9em;margin-right:.2em;}
.blog_sample a:hover {color:#666;}
.blog_category a {font-size:1.1em;}
.blog_title {padding:.3em 0 .5em 0;font-size:1.8em;}
.blog_title a {color:#000;}
.blog_title a:hover {color:#3992bf;}
.blog_tags {color:#666;font-size:.9em;}
.blog_tags span:first-child {margin-left:.5em;}
.blog_tags span a {display:inline-block;padding:0 .3em;border:1px solid #a5a5a5;background:#f6f6f6;color:#666;}
.blog_tags span a:hover {background-color:#85bf69;color:#fff;border-color:#85bf69;}
span.humble_text {color:#999;}
span.small-text {font-size:.8em;}
.blog_footer {text-align:center;margin-top:1em;}
.post_view_count {float:right;color:#aaa;font-size:.8em;}
.post_view_count span {margin:0 .5em 0 .2em;font-weight:normal;}
.post_view_title {margin:.5em 0 .3em .5em;font-size:2em;}
.post_view_title span {font-size:.9em;font-weight:bold;color:#999;}
.post_view_content {margin-bottom:2em;overflow-wrap:break-word;}
.post_view_content img {max-width:100%;}
.post_view_content a {color:#428bca;}
.post_view_content a:hover {color:#E54F44;}
.post_view_misc {margin:0 0 1.5em 1em;color:#aaa;font-size:.8em;}
.post_view_username {color:#3992bf;font-size:1.2em;}
.post_view_wrapper {margin:1em;}
.post_header img{max-width:100%;max-height:100%;}
.post_header:after {content:'';display:block;clear:both;margin-bottom:2em;}
.post_view_buttons span a img {vertical-align:middle;margin:0 .3em .2em .3em;}
.post_view_buttons span a span {margin-right:.3em;}
.input_tags {margin-bottom:1.0em;}
.input_tags input {width:100%;padding:.3em;height:2.5em}
.featured_image {margin:.5em 0 .5em 0;padding:.5em;border:2px dashed #aaa;}
.input_comment span.comment_name {min-width:50%;}
.input_comment input[type="text"] {width:100%;height:2.2em;padding:.2em;}
.input_comment input[type="button"] {background:#11223d;color:#fff;font-size:1em;}

.post_navigation {margin:.5em 0 1em .2em;border:1px solid #aaa;}
.post_navigation div {padding:.2em;font-size:.9em;}
.post_navigation div span {font-size:.9em;}
.post_navigation div a:hover {text-decoration:underline;}
.post_navigation div:first-child {background-color:#EDEDED;}

.dashboard_summary {min-width:300px;width:50%;margin:.5em 0 1em .2em;background-color:#EDEDED;}
.dashboard_summary a {text-decoration:underline;}
.dashboard_summary div {padding:.3em;font-size:.9em;}
.dashboard_summary div:first-child {background-color:#666;color:#fff;text-align:center;}
.dashboard_summary span a {margin-left:.5em;display:inline-block;padding:.1em;border:1px solid #a5a5a5;background:#f6f6f6;text-decoration:none;}
.dashboard_header {height:2.2em;margin:.5em 0 .5em 0;font-size:.9em;font-color:#11223d;}
.dashboard_header span a {color:#0073aa;}
.dashboard_header span a:hover {color:#409BD1;}
.dashboard_header span.status_selected a {color:#000;font-weight:bold;}
.dashboard_header span:after {content:'|';}
.dashboard_header span:last-child:after {content:'';}
.dashboard_header span.last-child:after {content:'';}
.dashboard_header select {height:2.2em;}
.dashboard_function {margin-left:.5em;}
.dashboard_function span {font-size:.85em;}
.dashboard_function span:after {content:'|';}
.dashboard_function span:last-child:after {content:'';}

.blacklist {margin:.5em;padding:.5em;border:1px solid #11223d;}
.blacklist span.item {margin:.1em;display:inline-block;padding:.1em;border:1px solid #a5a5a5;background:#f6f6f6;}
.add_blacklist {margin-bottom:.5em;}
.add_blacklist input[type='text'] {width:12em;height:2.2em;margin-left:.5em;padding-left:.2em;}
.add_blacklist input[type='button'] {height:2.2em;margin-left:.1em;background:#11223d;color:#fff;vertical-align:middle;}

/* vaults */
.small_thumbnail {display:inline-block;position:relative;width:80px;height:80px;float:left;margin-right:1em;}
.small_thumbnail img {width:100%;max-height:100%;}
.vault_content {display:block;float:left;width:650px;}
.vault_name {color:#777;}
.vault_name span.vault_category {color:#3992bf;margin-right:.5em;}
.vault_number {font-size:1.5em;}
.vault_description {padding-left:.3em;color:#444;font-size:.9em;}
.vault_description span.cvc {color:#E54F44;}
.vault_description span.description {color:#999;font-style:italic;overflow-wrap:break-word;}
td.password input {-webkit-text-security:disc;}
.password input {-webkit-text-security:disc;}
.masterkey {text-align:center;}
span#expiry_min, span#expiry_sec {color:#666;font-weight:normal;}
span#expiry_min:after {content:':';color:#666;font-weight:normal;}

/* recipes */
.wide_thumbnail {display:inline-block;position:relative;width:144px;height:80px;float:left;margin-right:1em;}
.wide_thumbnail img {width:100%;max-height:100%;}
.recipe_content {display:block;float:left;width:586px;}
.recipe_name {margin-bottom:.2em;color:#777;font-size:1.5em;}
.recipe_name span.recipe_category {margin-right:.5em;font-size:.7em;}
.recipe_name a {color:#0073aa;}
.recipe_name a:hover {color:#3992bf;}
.recipe_text {display:inline-block;font-size:1em;overflow-wrap:break-word;float-left;font-size:.9em;}

/* aliases */
.alias_header_container {width:100%;background-color:#E8ECEF;margin-top:.5em;padding:.5em;}
.alias_header {max-width:700px;margin:0 auto;vertical-align:middle;}
.alias_header div {padding:.5em 0 .5em;}
.alias_header input[type="text"] {width:100%;max-width:550px;height:2.2em;margin-bottom:.5em;padding:0 .5em;}
.aliases {margin-top:1em;}

/* Footer */
#footer {padding:1em;text-align:center;font-size:.9em;}
#footer:after {content:'';display:block;clear:both;}
.footerMenu {display:inline-block;font-size:.9em;}
.footerMenu:after {content:'';display:block;clear:both;}
.footerMenu li {float:left;margin: 0 1px;vertical-align:top;}
.footerMenu li a:hover {text-decoration:underline;}
.footerMenu li + li:before {content:'| ';margin:0 2px;color:#999;}
.footerMenu li , .footerMenu li a {vertical-align:top;}

/* toast */
#popup_overlay {position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(255,255,255,0.5);z-index:99998;}
#toast_popup {position:fixed;width:270px;top:70%;left:50%;margin-left:-135px;margin-top:0;padding:.2em;background-color:#444;color:#eee;z-index:99999;font-size:1.3em;text-align:center;border-radius:7px;}

/* highlightjs line numbers */
td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #aaa;
    border-right: 1px solid #aaa;
    vertical-align: top;
}
div.hljs-ln-n {padding-right:.5em;}
div.hljs-ln-line {margin-left:.5em;}

table.table-bordered td {padding:.2em;border:1px solid #aaa;}
.article_view_content ul {margin-left:2em;}
.article_view_content li {list-style-type:disc;margin-top:1em;}

/* adsense */
.sense_horizontal_bar {padding-top:.5em;margin-top:.5em;margin-bottom:.5em;}
.sense_sidebar {width:170px;padding-left:.5em;margin-top:.5em;}

@media all and (min-width:1080px) {
    .container {margin:auto;}
}
@media all and (min-width:768px) {
    .mobile_show {display:none;}
}
@media all and (max-width:767px) {
    body {font-size:1em;}
    .head_container {width:100%;}
    .head_container div {padding-right:1em;padding-top:.4em;}
    #wrap {padding-left:0;padding-top:1.5em;}
    .container {width:auto;margin:0;}
    #contents {width:100%;}
    .subnav {width:100%;margin-top:1em;}
    .subnav_blog_title span a {font-size:1.5em;}
    .subnav_blog_title span.blog_description {font-size:.9em;}
    .sidebar {display:none;}
    table.board thead {display:none;}
    table.board tr {border:none;}
    table.board td.subject {font-size:1.1em;}
    table.board td.article_info {display:none;}
    table.board tr.article_info_mobile {display:block;}
    .dbsearch input.search_word {width:auto}
    .blog_thumbnail {width:25%;height:auto;}
    .small_thumbnail {width:10%;height:auto;}
    .wide_thumbnail {width:30%;height:auto;margin-bottom:.5em;}
    .blog_sample {width:64%;}
    .blog_title {font-size:1.3em;}
    .post_view_title {font-size:1.4em;}
    .vault_content {width:80%;}
    .recipe_content {width:60%;}
    .recipe_name {font-size:1.2em;height:100%;}
    .comment_over_thumbnail {top:20%;}
    .sample_icon {width:10%;height:auto;}
    .sample_text {width:80%;}
    .oneline {padding-top:.5em;}
    .banner_button input {margin:1em;}
    .mobile_hide {display:none;}
}
