@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* reset */
body, html {width:100%;margin:0;padding:0;background:#EDEDED;font-size:1.0em;}
body {font-family:Noto Sans KR,'맑은 고딕',Malgun Gothic,Apple Gothic,'돋움',Dotum,sans-serif;}
div,p,h1,h2,h3,h4,h5,h6,section, article, aside, footer, figure, figcaption, nav,ul,ol,li,dl,dt,dd,table,tr,thead,tbody,tfoot,td,th,a,span,strong,em,i,img,address,form,fieldset,legend,input,textarea,select,label,button,pre,
iframe {margin:0;padding:0;}
section, article, aside, footer, figure, figcaption, nav {display:block;}
img {border:0 none;vertical-align:middle;}
address, em, cite {font-style:normal;}
hr {-moz-box-sizing:content-box;box-sizing:content-box;height:0;margin:0;padding:0;border:0;}
table {border-collapse:collapse;border-spacing:0;}
table th, table td {word-break:break-all;}
dd, dl, ol, ul, form {margin:0;padding:0;}
li {list-style-type:none;}
form {margin:0;padding:0;}
pre {box-sizing:border-box;margin:.5em;background:#EFF0F1;font-size:1em;font-family:"Courier";overflow-x:scroll;}
input, button, select, textarea {box-sizing:border-box;font-size:1.0em;}
input[type="button"], input[type="submit"] {cursor:pointer;display:inline-block;height:2.1em;margin-left:.5em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.2em;}
input[type="submit"] {background:#11223d;color:#fff;}
a {vertical-align:middle;box-sizing:border-box;color:#333;text-decoration:none;}
a:hover {color:yellow; color:#000;text-decoration:none;}

/* Layout */
#wrap {margin:0;padding:0 10px;}

/* Header */
#header {position:relative;padding:0 .625em;}
.gnb {padding:0;}
.gnb:after {content:'';display:block;clear:both;}
.gnb li {float:left;margin-left:.5em;}
.gnb li:first-child {margin-left:0 !important}
.gnb li a {display:block;padding:.6em .6em;color:#11223d;font-size:1.5em;}
.gnb li a:hover {color:#ee2d31;text-decoration:none;}

/* Footer */
#footer {padding:20px 10px;text-align:right;}
#footer:after {content:'';display:block;clear:both;}
.footerMenu {display:inline-block;}
.footerMenu:after {content:'';display:block;clear:both;}
.footerMenu li {float:left;margin: 0 3px;font-size:.8em;vertical-align:top;}
.footerMenu li + li:before {content:'| ';margin:0 5px;color:#ddd;}
.footerMenu li , .footerMenu li a {vertical-align:top;}

/* Contents */
#contents {width:800px;padding:1.0em;padding-bottom:1.6em;background:#fff;}
#contents:after {content:'';display:block;clear:both;}

.sidebar {width:180px;position:absolute;top:0;left:830px;padding:.5em 1em;}
.sidebar_container {width:100%;height:135px;background:#fff;border:1px solid #11223d;}
.sidebar_username {height:2em;margin:.3em;padding:.3em;border-bottom:1px solid #11223d;vertical-align:middle;}
.sidebar_notice {height:2em;margin:.3em;padding:.3em;vertical-align:middle;}
.sidebar_message {font-size:.8em;}
.sidebar_message_no {color:#ee2d31;font-weight:bold;}
.sidebar_buttons {font-size:.8em;}
.sidebar_buttons input[type="submit"] {height:2.2em;margin-bottom:.5em;padding-left:1em;padding-right:1em;padding-bottom:.1em;}
.sidebar_buttons span a {display:inline-block;height:2em;margin-left:.5em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;font-size:.9em;}
.sidebar_login {text-align:right;height:2em;margin:.3em;font-size:.9em;}
.sidebar_login input {height:2em;font-size:.9em;margin:.2em;padding:.5em;}

.annotation {min-height:0.1em;margin:0 0 1.5em 0;padding:.9em 0;border-bottom:1px solid #11223d;font-size:.8em;color:#666;}
.annotation span a {display:inline-block;height:2.2em;margin-left:.5em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.annotation span a:hover, .sidebar_buttons span a:hover {border-color:#11223d;color:#000;text-decoration:none;}

/* board list */
table.board {width:100%;text-align:center;}
table.board thead {background:#F9F9F9;}
table.board tr {border:1px solid #ABB2AC;}
table.board tr:hover {background-color:#F9F9F9;}
table.board td {padding:.2em;font-size:.95em;}
table.board td a {color:#11223d;}
table.board td a:visited {color:#888;}
table.board td a:hover {text-decoration:none;color:#E54F44;}
table.board td.notice a {color:black;}
table.board td.notice a:visited {color:black;}
table.board th.category {width:auto;min-width:50px;max-width:80px;}
table.board th.subject {width:auto;min-width:420px;}
table.board th.name {width:100px;}
table.board th.like_count {width:50px;}
table.board th.view_count {width:50px;}
table.board th.datetime {width:60px;}
table.board td.category {width:auto;min-width:50px;max-width:80px;color:#9393AE;}
table.board td.subject {width:auto;min-width:420px;text-align:left;}
table.board td.notice {font-weight:bold;}
table.board td.name {width:100px;}
table.board td.like_count {width:50px;font-size:.8em;}
table.board td.view_count {width:50px;font-size:.8em;}
table.board td.datetime {width:60px;font-size:.8em;}

/* navigation */
.navigator {width:100%;margin:.5em;padding:0;text-align:center;font-size:.9em;}
.navigator span a {display:inline-block;height:2.2em;margin-left:.1em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.navigator span a:hover {border-color:#11223d;color:#000;text-decoration:none;}
.navigator span a.current_page {background:#11223d;color:#fff;}
.navigator span a.jump {margin:.0em;background:#fff;border-color:#fff;}
.navigator span a.jump:hover {background:#fff;border-color:#11223d;}

.float-left {float:left;}
.float-right {float:right;}
.align-right {text-align:right;}
.margin-right-6 {margin-right:.6em;}

/* search */
.dbsearch {margin:1.5em 0;padding:0;text-align:center;font-size:.8em;}
.dbsearch select {width:6.5em;max-width:100px;height:2.2em;border:1px solid #999;line-height:2.2em;vertical-align:middle;}
.dbsearch input.search_word {width:18em;height:2.2em;margin-left:2px;padding:0 5px;border:1px solid #999;background:#fff;vertical-align:middle;}
.dbsearch input.search_button {width:3.5em;height:2.2em;margin-left:2px;border:1px solid #11223d;background:#11223d;color:#fff;line-height:2.2em;vertical-align:middle;}
.dbsearch input.search_button:hover {background-color:#283850;cursor:pointer;}
.dbsearch span a {display:inline-block;height:2.2em;margin-left:.5em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.dbsearch span a:hover {border-color:#11223d;color:#000;text-decoration:none;}

.sense_horizontal_bar {height:100px;background:#EDEDED;padding-top:10px;margin-top:5px;margin-bottom:5px;}
.sense_sidebar {width:150px;background:#EDEDED;padding-top:10px;margin-top:5px;margin-bottom:5px;}

/* edit article */
.input_subject {margin-bottom:0.5em;}
.input_subject input {width:100%;padding:.3em;height:2.2em;line-height:2.2em;}
.input_msg {margin-bottom:1em;margin-left:1em;color:#283850;font-size:.8em;}
.input_reference {margin-bottom:1.0em;}
.input_reference input {width:100%;padding:.3em;height:2.2em;line-height:2.2em;}
.input_category {margin-bottom:1.0em;padding-left:1.0em;}
.input_category select {width:8.5em;max-width:200px;height:2.0em;margin-left:2em;border:1px solid #999;line-height:2.1em;vertical-align:middle;}
.input_status {margin-bottom:1.0em;padding-left:1.0em;color:red;}
.input_status select {width:8.5em;max-width:200px;height:2.0em;margin-left:2em;border:2px dashed #7395CC;line-height:2.1em;vertical-align:middle;}
.input_submit {text-align:center;}

/* show article */
.article_subject {width:100%;color:#000;font-size:1.3em;}
.article_subject span {font-size:.9em;font-weight:bold;color:#999;}
.article_user {margin-top:0.5em;padding:0.5em;width:100%;height:2.0em;line-height:1.9em;vertical-align:middle;background:#f6f6f6;}
span.nim {font-size:.8em;color:#666;}
.article_view_count {float:right;margin-right:0px;vertical-align:middle;font-size:.8em;color:#888;}
.article_view_count span {margin-left:.3em;margin-right:0;vertical-align:center;}
.article_view_count a span {display:inline-block;width:3em;height:100%;margin-left:.2em;box-sizing:border-box;border:1px solid #a5a5a5;background:#11223d;color:#fff;text-align:center;}
.article_view_misc {margin-left:.5em;font-size:.8em;color:#999;vertical-align:middle;}
.article_view_ip {float:right;margin-right:0;letter-spacing:.1em;}
.article_view_content {margin-top:1em;margin-bottom:.5em;padding-right:.1em;}
.article_view_reference {margin:1.5em;margin-bottom:0;margin-right:0;height:2.0em;vertical-align:middle;background:#EDEDED;font-size:0.8em;}
.article_view_reference a:hover {color:#E54F44;}
.article_view_msg {height:1.5em;text-align:center;vertical-align:middle;}
.article_view_msg span {font-size:.8em;color:#888;}
.article_view_buttons {margin:.5em;text-align:center;}
.article_view_buttons span a {display:inline-block;height:2.2em;margin-left:.0em;padding:0 .3em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.1em;}
.article_view_buttons span a:hover {border-color:#11223d;color:#000;text-decoration:none;}
.article_view_buttons span.like a {background:#11223d;color:#fff;}
.article_view_buttons span.like a:hover {background:#283850;color:#fff;}
.article_view_buttons span.delete a {background:#E54F44;color:#fff;}
.article_view_buttons span.delete a:hover {background:#FF574F;color:#fff;}

.popup_frame {height:auto;min-height:2em;padding:.5em;background-color:#fff;font-size:.8em;display:block;z-index:99997;color:#000;box-shadow:0 0 3px 3px #999;}
.popup_frame span {margin:.1em;display:inline-block;height:1.8em;padding:0 .15em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:1.9em;vertical-align:center;}
.popup_frame span a:hover {background:gray;}
.popup_frame table tr:hover {background-color:#f6f6f6;}
.popup_frame table td a:hover {text-decoration:none;color:#E54F44;}

p.edit {padding:2px;padding-top:10px;padding-bottom:10px;}
div.hof {margin-bottom:10px;width:160px;text-align:center;background-color:#283850;color:#D8D8D8;box-shadow:0 0 5px 5px #888;}
div.hof a {color:white;}
div.hof a:hover {color:yellow;}
.padding-top-10 {padding-top:10px;}
.align-center {text-align:center;}
.align-right {text-align:right;}

div.about {display:inline-block;}
.about img {max-width:100%;max-height:100%;}

/* data table td style */
div.issue hr {margin-bottom:1.0em;}
table.issue {width:100%;background:#fff;}
table.issue td {padding:.6em;}
table.issue td a {color:#11223d;}

table td.issuePhoto {width:2.3em;padding-left:1;padding-right:1;font-family:tahoma,arial,sans-serif;color:#e02d31;font-size:1.5em;letter-spacing:-0.05em}
table td.issueRank {width:2.3em;padding-left:0;padding-right:0;font-family:tahoma,arial,sans-serif;color:#e02d31;font-size:1.5em;letter-spacing:-0.05em}
table td.issueRank a {color:#e02d31;}
table td.issueSubject {padding-top:1.0em;padding-left:0.3em;font-family:Noto Sans KR,'맑은 고딕',Malgun Gothic,Apple Gothic,sans-serif;font-size:1.3em;line-height:1.2;}
table td.issueSubject a.archive {display:inline-block;width:22px;height:22px;margin-left:5px;background:#1e88e5;background:#aaa;text-align:center;}
table td.issueSubject a.archive:hover {background:#1e88e5;}
table td.issueSubject a.archive img {vertical-align:baseline;}
table td.issueDown {padding-top:0;padding-bottom:1.0em;font-size:.8em;color:#666;vertical-align:top;}
table td.issueDown > a {color:#1e88e5;vertical-align:2px;}
table td.editIssue a.editIcon {display:inline-block;width:24px;height:24px;margin-left:5px;background:#1e88e5;background:#aaa;text-align:center;}
table td.editIssue a.editIcon:hover {background:#1e88e5;}
table td.editIssue a.editIcon img {vertical-align:baseline;}

/* join */
.member {margin:1.25em auto 1.6em;background:#fff;}
.member td {padding:5px 3px;}
.member td.label {padding: 5px; padding-left:15px;font-size:.9em;}
.member input {height:26px;vertical-align:middle;}
.member input[type="button"] {padding:0 10px;font-size:.8em;}
.member input[type="submit"] {display:inline-block;width:100px;height:2.5em;margin-top:10px;margin-bottom:10px;vertical-align:middle;}
.member a:link {color:#417690; text-decoration:none;}
.member a:visited {color:#417690; text-decoration:none;}
.member a:hover {color:#be131c; text-decoration:none;}
.member span a {display:inline-block;height:2.8em;margin-left:.5em;padding:0 .5em;box-sizing:border-box;border:1px solid #a5a5a5;background:#f6f6f6;color:#000;line-height:2.7em;}
.member span a:hover {border-color:#11223d;color:#000;text-decoration:none;}

@media all and (min-width:361px) and (max-width:540px) {
    body {font-size:.9em;}
    #wrap {padding:0;}
    #contents {width:360px;}
    .gnb li {margin-left:.4em;}
    .gnb li a {padding-left:.2em;padding-right:.2em;font-size:1.4em;}
    table td.issuePhoto {width:6.6em;}
    table td.issuePhoto img {width:6.6em;height:auto;}
    #footer {text-align:center;}
    .footerMenu li {margin:0;font-size:.6em;}
    .member {margin:3em auto 3em;}
}

@media all and (min-width:320px) and (max-width:360px) {
    body {font-size:.8em;}
    #wrap {padding:0;}
    #contents {width:290px;}
    .gnb li {margin-left:.4em;}
    .gnb li a {padding-left:.2em;padding-right:.2em;font-size:1.3em;}
    table td.issuePhoto {width:6.6em;}
    table td.issuePhoto img {width:6.6em;height:auto;}
    table td.issueRank {width:2.0em;}
    #footer {text-align:center;}
    .footerMenu li {margin:0;font-size:.6em;}
    .member {margin:2.5em auto 2em;}
}
