{% load staticfiles %}
{% load i18n %}
{% load context %}

<!DOCTYPE html>
<html lang="ko">

<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="bbgo">
<meta name="description" content="Total bbs system by django">
<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
<link rel="apple-touch-icon" href="{% static 'icons/apple-touch-icon.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'icons/apple-touch-icon-precomposed.png' %}">
<link rel="stylesheet" href="{% static 'css/haru.css' %}">
{% if DEBUG %}
    <script src="{% static 'js/thirdparty/jquery-1.12.4.min.js' %}"></script>
{% else %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endif %}
<script src="{% url 'javascript-catalog' %}" async></script>
{% block extra_head_content %}{% endblock %}
</head>

<body>
<div id="header">
    <div class="container">
        <div class="head_container">
            <div class="head_left float-left">
                <span class="head_logo">
                    <a href="/">
                        <img src="{{ SITE_LOGO }}">
                    </a>
                </span>
                <span class="head_info">
                    {{ SITE_INFO }}
                </span>
            </div>
            <div id="main-nav" class="head_menu float-right">
                <ul>
                    <li class="head_menu">
                        <a>
                            {% trans 'menu' %}
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'boards:show_list_0' table=0 %}">
                                    최신 글 보기
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'boards:show_list_0' table=1 %}">
                                    공지사항 및 긴 제목 테스트
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'boards:show_list_0' table=10 %}">
                                    게시판
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="power mobile_show">
                        {% if user.is_authenticated %}
                            <a href="#">
                                <img src="{% static 'icons/poweron.png' %}">
                            </a>
                        {% else %}
                            <a href="#">
                                <img src="{% static 'icons/power.png' %}">
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="wrap">
    <div class="container">
        <div class="sidebar">
            {% if user.is_authenticated %}
                <div class="sidebar_container">
                    <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <div class="sidebar_username">
                            <span>
                                {{ user }}
                            </span>
                            <span class="float-right">
                                <img src="{% static 'icons/edit24.png' %}">
                            </span>
                        </div>
                        <div class="sidebar_notice">
                            <span>
                                {% if user.profile.alarm %}
                                    <a href="{% url 'api:alarm_off' %}">
                                        <img src="{% static 'icons/alert24.gif' %}">
                                    </a>
                                {% else %}
                                    <img src="{% static 'icons/alert24.png' %}">
                                {% endif %}
                            </span>
                            <span class="sidebar_message float-right">
                                <a href="#">
                                    <span>
                                        {% trans 'Message' %}
                                    </span>
                                    <span class="sidebar_message_no">
                                        {% if False %}
                                            0
                                        {% endif %}
                                    </span>
                                </a>
                            </span>
                        </div>
                        <div class="sidebar_buttons align-right margin-right-6">
                            <span>
                                <input type="submit" value="{% trans 'logout' %}" />
                            </span>
                        </div>
                        <input type="hidden" name="next" value="{% request_path %}">
                    </form>
                </div>
            {% else %}
                <div class="sidebar_container">
                    <form method="post" action="{% url 'accounts:login' %}">
                        {% csrf_token %}
                        <div class="sidebar_login">
                            <input id="id_username" type="text" name="username" maxlength="30" placeholder="{% trans 'id' %}" />
                        </div>
                        <div class="sidebar_login">
                            <input type="password" name="password" id="id_password" placeholder="{% trans 'password' %}"/>
                        </div>
                        <div class="sidebar_buttons align-right margin-right-6">
                            <span>
                                <input type="submit" value="{% trans 'login' %}" />
                            </span>
                        </div>
                        <div class="sidebar_buttons">
                            <span>
                                <a href="{% url 'accounts:password_reset' %}">
                                    {% trans 'Reset password' %}
                                </a>
                            </span>
                            <span class="float-right margin-right-6">
                                <a href="{% url 'accounts:signup' %}">
                                    {% trans 'Sign up' %}
                                </a>
                            </span>
                        </div>
                        <input type="hidden" name="next" value="{% request_path %}">
                    </form>
                </div>
            {% endif %}
            <div class="sense_sidebar">
            </div>
        </div>

        <div id="contents">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            <div class="footerMenu">
                <li>{% trans 'Send feedback' %}</li>
                <li>
                    <a href="mailto:{{ADMIN_EMAIL}}">
                        <img src="/static/icons/email24.png">
                    </a>
                </li>
                <li>
                    <a href="{{ADMIN_TWITTER}}">
                        <img src="/static/icons/twitter24.png" target="_blank">
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>
{% block bodyscript %}{% endblock %}
</body>
</html>
