{% load staticfiles %}
{% load i18n %}
{% load context %}
{% load user %}
{% load menu %}
{% load sense %}
{% load alarm %}

<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="bbgo">
<meta name="description" content="Total bbs system by django">
<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
<link rel="apple-touch-icon" href="{% static 'icons/apple-touch-icon.png' %}">
{% if DEBUG %}
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
{% else %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
{% endif %}
<link rel="stylesheet" href="{% static 'css/haru.css' %}">
<link rel="stylesheet" href="{% static 'css/waitMe.css' %}">
<script src="{% static 'js/thirdparty/jquery-1.12.4.min.js' %}"></script>
{% if DEBUG %}
    <script src="/jsi18n-debug/" async></script>
{% else %}
    {% get_current_language as LANGUAGE_CODE %}
    <script src="/{{ APP_VERSION }}/jsi18n/?language={{ LANGUAGE_CODE }}" async></script>
{% endif %}
{% block extra_head_content %}{% endblock %}
</head>

<body>
<div id="header">
    <div class="container">
        <div class="head_container">
            <div id="mainnav" class="float-left">
                {% menu_main %}
            </div>
            <div id="power" class="float-right mobile_show">
                {% menu_mobile %}
            </div>
        </div>
    </div>
</div> <!--//header-->
<div id="wrap">
    <div class="container">
        <div class="sidebar">
            {% if user.is_authenticated %}
                <div class="sidebar_container">
                    <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <div class="sidebar_user">
                            <span class="sidebar_username">
                                {{ user|nickname:user.is_authenticated|safe }}
                            </span>
                            <span class="float-right">
                                <a href="{% url 'accounts:setting' %}">
                                    <img src="{% static 'icons/edit24.png' %}">
                                </a>
                            </span>
                        </div>
                        <div class="sidebar_notice">
                            <span class="float-left">
                                <a href="javascript:alarm_list('desktop')">
                                    {% if user.profile.alarm %}
                                        <img id="alarm_icon" src="{% static 'icons/alert24.gif' %}">
                                    {% else %}
                                        <img id="alarm_icon" src="{% static 'icons/alert24.png' %}">
                                    {% endif %}
                                </a>
                            </span>
                            <span>
                                <a href="{% url 'accounts:scrap_list_0' %}">
                                    <img src="{% static 'icons/scrap24.png' %}">
                                </a>
                            </span>
                            <span class="float-right">
                                <a href="{% url 'msgs:inbox' page=1 %}">
                                    <span class="sidebar_message_no">
                                        {% if user.profile.msg_count > 0 %}
                                            <img src="{% static 'icons/message24.png' %}">
                                        {% else %}
                                            <img src="{% static 'icons/nomessage24.png' %}">
                                        {% endif %}
                                    </span>
                                </a>
                            </span>
                        </div>
                        <div class="sidebar_buttons align-right margin-right-6">
                            <span>
                                <input type="submit" value="{% trans 'logout' %}" />
                            </span>
                        </div>
                        <input type="hidden" name="next" value="{% request_path %}">
                    </form>
                </div>
            {% else %}
                <div class="sidebar_container">
                    <form method="post" action="{% url 'accounts:login' %}">
                        {% csrf_token %}
                        <div class="sidebar_login">
                            <input id="id_username" type="text" name="username" maxlength="{{ ID_MAX_LENGTH }}" placeholder="{% trans 'id' %}" />
                        </div>
                        <div class="sidebar_login">
                            <input type="password" name="password" id="id_password" placeholder="{% trans 'password' %}"/>
                        </div>
                        <div class="sidebar_buttons align-right margin-right-6">
                            <span>
                                <input type="submit" value="{% trans 'login' %}" />
                            </span>
                        </div>
                        <div class="sidebar_buttons">
                            <span>
                                <a href="{% url 'accounts:password_reset' %}">
                                    {% trans 'Reset password' %}
                                </a>
                            </span>
                            <span class="float-right margin-right-4">
                                <a href="{% url 'accounts:signup' %}">
                                    {% trans 'Sign up' %}
                                </a>
                            </span>
                        </div>
                        <input type="hidden" name="next" value="{% request_path %}">
                    </form>
                </div>
            {% endif %}
            <div class="side_menu">
                {% menu_banner %}
            </div>
            <div class="sense_sidebar">
                {% show_side_sense %}
            </div>
        </div> <!--//sidebar-->

        <div class="subnav head_menu">
            {% menu_sub %}
        </div>

        <div id="contents">
            {% block content %}{% endblock %}
            <div id="alarm_list" style="display:none;">
            </div>
            <div id="alarm_list_mobile" style="display:none;">
            </div>
        </div>

        <div id="footer">
            <div class="footerMenu">
                {% menu_footer %}
            </div>
        </div>
    </div>
</div>
<script>
    var url_userinfo = "{% url 'accounts:user_info' user='bb' %}";
    var url_userarticle = "{% url 'boards:show_search_article' search_type='writeuser' search_word='bb' table=0 page=1 %}";
    var url_userreply = "{% url 'boards:search_reply' search_type='writeuser' search_word='bb' table=0 page=1 %}";
    var url_message = "{% url 'msgs:send' user='bb' %}";
    {% if user.is_authenticated and ENABLE_ALARM_POLLING and not DEBUG %}
        var alarm_polling_enabled = true;
        var alarm_notification_enabled = true;
        var alarm_polling_ms = {{ user.profile.alarm_interval }} * 1000;
    {% else %}
        var alarm_polling_enabled = false;
    {% endif %}
    var site_name = '{{ SITE_NAME }}';
    var site_logo = '{{ SITE_LOGO }}';
</script>
<script src="{% static 'js/thirdparty/easyNotify.min.js' %}" async></script>
<script src="{% static 'js/thirdparty/waitMe.min.js' %}" async></script>
<script src="{% static 'js/thirdparty/toast.js' %}" async></script>
<script src="{% static 'js/accounts/alarm.js' %}" async></script>
<script src="{% static 'js/accounts/idmenu.js' %}" async></script>
{% block bodyscript %}{% endblock %}
</body>
</html>
