{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">

<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="bbgo">
<meta name="description" content="Total bbs system by django">
<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
<link rel="apple-touch-icon" href="{% static 'icons/apple-touch-icon.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'icons/apple-touch-icon-precomposed.png' %}">
<link rel="stylesheet" href="{% static 'css/haru.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% url 'javascript-catalog' %}"></script>
{% block extra_head_content %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>
</html>
