{% load i18n %}
{% if app == 'blogs' %}
    <div class="subnav_blog_title">
        <span>
            <a href="{% url 'blogs:blog_home' %}">
                {{ SITE_NAME }}
            </a>
        </span>
        <span class="blog_description">
            {{ SITE_INFO }}
        </span>
    </div>
    {% for category in blog_category %}
        <span>
            <a href="{% url 'blogs:search_post' search_type='category' search_word=category page=1 %}">
                {{ category }}
            </a>
        </span>
    {% endfor %}
    <span>
        <a href="{% url 'blogs:search_post' search_type='category' search_word='_uncategorized' page=1 %}" title="{% trans 'uncategorized' %}">
            ...
        </a>
    </span>
{% elif app == 'boards' or app == '' %}
    <span>
        <a href="{% url 'bbgo' %}">
            {% trans 'bbgo' %}
        </a>
    </span>
    <span>
        <a href="{% url 'boards:show_list' table=3 page=1 %}">
            {% trans 'Documentation' %}
        </a>
    </span>
    <span>
        <a href="{% url 'boards:show_list' table=12 page=1 %}">
            {% trans 'bbs' %}
        </a>
    </span>
{% elif app == 'vaults' %}
    <span>
        <a href="{% url 'vaults:open_vault' %}">
            {% trans 'Vaults' %}
        </a>
    </span>
    <span>
        <a href="{% url 'vaults:edit_key' %}">
            {% trans 'Change key' %}
        </a>
    </span>
    <span>
        <a href="{% url 'vaults:new_vault' %}">
            {% trans '+ New item' %}
        </a>
    </span>
{% elif app == 'recipes' %}
    <span>
        <a href="{% url 'recipes:show_recipes' %}">
            {% trans 'Recipes' %}
        </a>
    </span>
    <span>
        <a href="{% url 'recipes:edit_category' %}">
            {% trans 'Setting' %}
        </a>
    </span>
    <span>
        <a href="{% url 'recipes:new_recipe' %}">
            {% trans '+ New item' %}
        </a>
    </span>
{% elif app == 'papers' %}
    <span>
        <a href="{% url 'papers:summary' %}">
            {% trans 'Summary' %}
        </a>
    </span>
    <span>
        <a href="{% url 'papers:inbox' page=1 %}">
            {% trans 'Inbox' %}
        </a>
    </span>
    <span>
        <a href="{% url 'papers:outbox' page=1 %}">
            {% trans 'Outbox' %}
        </a>
    </span>
    <span>
        <a href="{% url 'papers:archive' page=1 %}">
            {% trans 'Archive' %}
        </a>
    </span>
{% else %}
{% endif %}
