{% load staticfiles %}
{% load i18n %}

<li>
    © {{ SITE_NAME }}
    <a href="https://github.com/genonfire/bbgo/" target="_blank">
        Made by bbgo
    </a>
</li>
<li>
    <a href="{% url 'boards:show_list' table=10 page=1 %}">
        {% trans 'Feedback' %}
    </a>
</li>
<li>
    <a href="{% url 'boards:show_list' table=8 page=1 %}">
        {% trans 'Report' %}
    </a>
</li>
<li>
    <a href="#">
        {% trans 'About us' %}
    </a>
</li>
<li>
    <a href="mailto:{{ ADMIN_EMAIL }}">
        <img src="/static/icons/email24.png">
    </a>
</li>
