{% load staticfiles %}
{% load i18n %}

<ul>
    <li class="head_logo">
        <a href="/">
            <img src="{{ SITE_LOGO }}">
        </a>
    </li>
    <li class="head_info mobile_hide">
        {{ SITE_INFO }}
    </li>
    <li class="head_menu">
        <a>
            {% trans 'menu' %}
        </a>
        <ul>
            {% if user.is_staff %}
                <li class="titlemenu">
                    {% trans 'Admin menu' %}
                </li>
                <li>
                    <a href="/admin/" target="_blank">
                        {% trans 'Site administration' %}
                    </a>
                </li>
                <li>
                    <a href="/trans/" target="_blank">
                        {% trans 'Text translation' %}
                    </a>
                </li>
            {% endif %}

            <li class="titlemenu">
                {% trans 'bbs' %}
            </li>
            <li>
                <a href="{% url 'boards:show_list_0' table=9 %}">
                    {% trans 'Best' %}
                </a>
            </li>
            <li>
                <a href="{% url 'boards:show_list_0' table=0 %}">
                    {% trans 'Recent' %}
                </a>
            </li>

            <li class="titlemenu">
                {% trans 'Recruitment' %}
            </li>
            <li>
                <a href="{% url 'teams:recruitment' table=0 page=1 %}">
                    PS4
                </a>
            </li>
            <li>
                <a href="{% url 'teams:recruitment' table=1 page=1 %}">
                    Xbox
                </a>
            </li>
            <li>
                <a href="{% url 'teams:recruitment' table=2 page=1 %}">
                    PC
                </a>
            </li>
        </ul>
    </li>
    {% if user.is_authenticated %}
        <li class="head_menu">
            <a>
                {% trans 'bookmark' %}
            </a>
            <ul>
                {% for mb in my_bookmark %}
                    <li>
                        <a href="{{ mb.1 }}">
                            {{ mb.0 }}
                        </a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{% url 'accounts:edit_bookmarks' %}">
                        <img src="{% static 'icons/edit20.png' %}">
                        {% trans 'Edit' %}
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}
</ul>
