{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load alias %}
{% block title %}{% trans 'Alias' %} - {{ SITE_NAME }}{% endblock %}
{% block content %}

<div class="blog_header">
    {% trans 'Dashboard' %}
    <span>
        {% trans 'Alias' %}
    </span>
</div>
<div class="alias_header_container">
    <div class="alias_header">
        <div>
            {% trans 'Alias your links' %}
        </div>
        <input type="text" id="original_url" placeholder="{% trans 'Your original URL here' %}">
        <input type="button" class="submit" value="{% trans '+ New item' %}" onClick="javascript:new_alias();">
    </div>
</div>

<div id="aliases" class="aliases">
    {% show_aliases %}
</div>
<form>{% csrf_token %}</form>

{% endblock %}
{% block bodyscript %}
    <script>
        var short_url = "{{ request.build_absolute_uri }}";
    </script>
    <script src="{% static 'js/aliases/alias.js' %}" async></script>
{% endblock %}
