{% load staticfiles %}
{% load i18n %}
{% load tz datetime %}

<div class="blog_wrapper">
    <table class="board">
        <thead>
        <tr>
            <th class="title">{% trans 'Original URL' %}</th>
            <th class="alias">{% trans 'Alias' %}</td>
            <th class="blogcount">{% trans 'clicks' %}</th>
            <th class="date">{% trans 'date' %}</td>
        </tr>
        </thead>
        <tbody>
            {% for alias in aliases %}
                <tr>
                    <td class="subject title">
                        <a href="{{ alias.url }}" target="_blank">
                            {{ alias.url|truncatechars:60 }}
                        </a>
                        <div class="dashboard_function">
                            <span>
                                <a href="javascript:edit_alias({{ alias.id }}, '{{ alias.url }}')">
                                    {% trans 'Edit' %}
                                </a>
                            </span>
                            <span class="delete">
                                <a href="javascript:delete_alias({{ alias.id }})">
                                    {% trans 'Delete' %}
                                </a>
                            </span>
                        </div>
                    </td>
                    <td class="alias">
                        <a href="{% url 'aliases:dashboard' %}{{ alias.name }}" target="_blank">
                            {{ alias.name }}
                        </a>
                    </td>
                    <td class="article_info">
                        {{ alias.clicks }}
                    </td>
                    <td class="article_info">
                        {{ alias.created_at|date:"Y-m-d" }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
