{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load spam %}
{% block title %}{% trans 'Spam setting' %} - {{ SITE_NAME }}{% endblock %}
{% block content %}

<h2>
    {% trans 'Spam IP' %}
</h2>
<div class="annotation">
    {% trans 'List of IP address set as spam.' %}
</div>
<div id="spam_ips" class="blacklist">
    {% show_ips %}
</div>
<div class="add_blacklist">
    <input type="text" id="spam_ip">
    <input type="button" value="{% trans 'submit' %}" onClick="add_ip()">
</div>

<h2>
    {% trans 'Spam words' %}
</h2>
<div class="annotation">
    {% trans 'List of word set as spam.' %}
</div>
<div id="spam_words" class="blacklist">
    {% show_words %}
</div>
<div class="add_blacklist">
    <input type="text" id="spam_word">
    <input type="button" value="{% trans 'submit' %}" onClick="add_word()">
</div>
<form>{% csrf_token %}</form>

{% endblock %}
{% block bodyscript %}
    <script src="{% static 'js/spams/spam.js' %}" async></script>
{% endblock %}
