{% extends "base.html" %}

{% block title %}비밀번호 초기화{% endblock %}
{% block content %}

<div id="wrap">
    <div id="contents">
        <h1>비밀번호 초기화</h1>
        <div class="annotation">
        새 비밀번호가 전송되었습니다.
        </div>

        <div class="member">
            <div class="password_reset_description">
                만약 이메일을 받지 못했다면, 등록하신 이메일을 다시 확인하시거나 스팸 메일함을 확인해주세요.
            </div>
        </div>
    </div> <!--//contents-->

    <div id="footer">
        <div class="footerMenu">
            <ul>
                {{ FOOTER_TAGS|safe }}
            </ul>
        </div>
    </div>
</div> <!-- //wrap -->

{% endblock %}
