{% extends "base.html" %}

{% block title %}비밀번호 초기화{% endblock %}
{% block content %}

<div id="wrap">
    <div id="contents">
        <h1>비밀번호 초기화 완료</h1>
        <div class="annotation">
        비밀번호가 설정되었습니다. 이제 로그인하세요.
        </div>

        <div class="member">
            <div class="password_reset_description">
                <a href="{% url 'login' %}">로그인 페이지로 이동</a>
            </div>
        </div>
    </div> <!--//contents-->

    <div id="footer">
        <div class="footerMenu">
            <ul>
                {{ FOOTER_TAGS|safe }}
            </ul>
        </div>
    </div>
</div> <!-- //wrap -->

{% endblock %}
