{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ SITE_NAME }} - {% trans 'Password reset' %}{% endblock %}
{% block content %}

<h1>
    {% trans 'Password reset' %}
</h1>
<div class="annotation">
    {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
</div>

<div class="member">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.email.errors }}
        <div class="password_reset_text">
            {% trans 'Email address:' %}
        </div>
        <div class="password_reset_email">
            {{ form.email }}
            <input type="submit" style="width:auto" value="{% trans 'Password reset' %}">
        </div>
    </form>
</div>

{% endblock %}
