{% extends "base.html" %}

{% block title %}비밀번호 변경{% endblock %}
{% block content %}

<div id="wrap">
    <div id="contents">
        <h1>비밀번호 변경</h1>
        <div class="annotation">
        기존 비밀번호와 새로운 비밀번호를 입력하세요.
        </div>

        <div class="member">
            <form action="" method="post">{% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.old_password.errors }}기존 비밀번호</td>
                    <td>{{ form.old_password }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password1.errors }}새 비밀번호</td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}새 비밀번호 확인</td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>
            <p><input type="submit" value="비밀번호 변경" /></p>
            </form>
        </div>
    </div> <!--//contents-->

    <div id="footer">
        <div class="footerMenu">
            <ul>
                {{ FOOTER_TAGS|safe }}
            </ul>
        </div>
    </div>
</div> <!-- //wrap -->

{% endblock %}
