{% extends "base.html" %}

{% block title %}비밀번호 초기화{% endblock %}
{% block content %}

<div id="wrap">
    <div id="contents">
        <h1>비밀번호 초기화</h1>
        <div class="annotation">
        회원가입 시 등록한 이메일 주소로 새로운 비밀번호를 설정할 수 있는 이메일을 보내드립니다.
        </div>

        <div class="member">
            <form action="" method="post">{% csrf_token %}
            {{ form.email.errors }}
            <div class="password_reset_text">
            이메일 주소
            </div>
            <div class="password_reset_email">
                {{ form.email }}
                <input type="submit" value="비밀번호 초기화">
            </div>
            </form>
        </div>
    </div> <!--//contents-->

    <div id="footer">
        <div class="footerMenu">
            <ul>
                {{ FOOTER_TAGS|safe }}
            </ul>
        </div>
    </div>
</div> <!-- //wrap -->

{% endblock %}
