{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{{ SITE_NAME }} - {{ table_name }}{% endblock %}
{% load tz datetime %}
{% load pick %}
{% load user %}
{% load bookmark %}
{% load sense %}
{% load navigator %}
{% block content %}

<h1>
    <a href="{% url 'teams:recruitment' table=table page=1 %}">
        {{ table_name }}
    </a>
    {% if user.is_authenticated %}
        <a href="javascript:toggle_bookmark('teams', '{{ table }}')">
            {% with 'teams-'|add:table as app_id %}
                {% if user|is_stared:app_id %}
                    <img src="{% static 'icons/stared28.png' %}" id="header_star">
                {% else %}
                    <img src="{% static 'icons/star28.png' %}" id="header_star">
                {% endif %}
            {% endwith %}
        </a>
        <form>{% csrf_token %}</form>
    {% endif %}
</h1>
<div class="annotation">
{% if table_desc %}
    {{ table_desc }}
{% endif %}
{% if writable == True %}
    <span>
        <a href="{% url 'teams:new_recruitment' table=table %}" class="current_page">{% trans 'write' %}</a>
    </span>
{% endif %}
</div>

<div class="sense_horizontal_bar">
    {% show_up_sense_native %}
</div>

<table class="board">
<thead>
<tr>
    <th class="subject">{% trans 'subject' %}</th>
    <th class="name">{% trans 'username' %}</th>
    <th class="view_count">{% trans 'view' %}</th>
    <th class="datetime">{% trans 'date' %}</th>
</tr>
</thead>
<tbody>
{% for article in lists %}
    <tr>
        {% if article.status == '5hidden'%}
            <td class="subject">
                <span class="category">
                    {{ article.category }}
                </span>
                <span>
                    {% if user.is_staff %}
                        <a href="{% url 'teams:show_recruitment' id=article.id %}">
                            {% trans 'status_hidden' %}
                        </a>
                    {% else %}
                        {% trans 'status_hidden' %}
                    {% endif %}
                </span>
                {% if article.reply_count > 0 %}
                    <span class="reply_count">[{{ article.reply_count }}]</span>
                {% endif %}
            </td>
        {% else %}
            <td class="subject tdlink" data-href="{% url 'teams:show_recruitment' id=article.id %}">
                <span class="category">
                    {{ article.category }}
                </span>
                {% if article.status == '7canceled' %}
                    <span class="canceled">
                {% elif article.status == '8full' %}
                    <span class="done">
                {% else %}
                    <span>
                {% endif %}
                    <a href="{% url 'teams:show_recruitment' id=article.id %}">
                        {{ article.subject }} ({{ article.slot}}/{{ article.slot_total }})
                    </a>
                    {% if article.status == '8full' %}
                        <span>
                            {% trans 'status_full' %}
                        </span>
                    {% endif %}
                </span>
                {% if article.reply_count > 0 %}
                    <span class="reply_count">[{{ article.reply_count }}]</span>
                {% endif %}
            </td>
        {% endif %}
        <td class="article_info">
            {{ article.user|nickname:user.is_authenticated|safe }}
        </td>
        <td class="article_info">
            {{ article.view_count }}
        </td>
        <td class="article_info">
            {% if article.created_at|localtime|is_today %}
                {{ article.created_at|time:"H:i" }}
            {% else %}
                {{ article.created_at|date:"m-d" }}
            {% endif %}
        </td>
    </tr>
    <tr class="article_info_mobile">
        <td>
            <span>
                {{ article.user|nickname:user.is_authenticated|safe }} |
            </span>
            <span>
                {% trans 'view' %} {{ article.view_count }} |
            </span>
            <span>
                {% if article.created_at|localtime|is_today %}
                    {{ article.created_at|time:"H:i" }}
                {% else %}
                    {{ article.created_at|date:"m-d" }}
                {% endif %}
            </span>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% show_navigator_boards %}

{% endblock %}
{% block bodyscript %}
<script src="{% static 'js/teams/recruitment.js' %}" async></script>
<script src="{% static 'js/accounts/bookmarks.js' %}" async></script>
{% endblock %}
