{% load staticfiles %}
{% load i18n %}
{% load link %}
{% load user %}
{% load tz datetime %}

<div class="reply_header">
    {% trans 'reply' %}
    <span>
        [
        <span id="reply_count_no">
            {{ count }}
        </span>
        ]
    </span>
    <div class="buttons float-right">
        <span>
            <a href="#reply_text">
                {% trans 'Write reply' %}
            </a>
        </span>
    </div>
</div>
{% for reply in replies %}
{% if reply.reply_id > 0 %}
    <table class="dynamic_input_reply" width="100%">
    <tr>
        <td width="24px" valign="top">
            <img src="{% static 'icons/niun24.png' %}">
        </td>
        <td class="input_rereply">
{% endif %}
{% if user.username == reply.user.username %}
    <div id="reply_body{{ reply.id }}" class="reply_body reply_self">
        <div class="reply_title reply_title_self">
{% elif article_user.username == reply.user.username %}
    <div id="reply_body{{ reply.id }}" class="reply_body reply_body_owner">
        <div class="reply_title reply_title_owner">
{% else %}
    <div id="reply_body{{ reply.id }}" class="reply_body">
        <div class="reply_title">
{% endif %}
            <span class="reply_username">
                {{ reply.user|nickname:user.is_authenticated|safe }}
            </span>
            <span class="reply_date">
                {% if reply.created_at|localtime|is_today %}
                    {{ reply.created_at|time:"H:i" }}
                {% else %}
                    {{ reply.created_at|date:"m-d" }}
                {% endif %}
            </span>
            {% if user.username == reply.user.username or user.is_staff %}
                {% if reply.status != '6deleted' and reply.status != '5hidden' %}
                    <span class="reply_delete">
                        <a href="javascript:delete_reply({{ reply.id }})">
                            {% trans 'delete' %}
                        </a>
                    </span>
                {% endif %}
            {% endif %}
            <div class="float-right">
                {% if reply.status != '6deleted' and reply.status != '5hidden' %}
                    <span class="open_reply">
                        <a href="javascript:show_input_reply({{ reply.article_id }}, {{ reply.id }})">
                            {% trans 'reply' %}
                        </a>
                    </span>
                {% endif %}
            </div>
        </div>
        {% if reply.reply_to %}
        <div class="reply_to">
            <span id="reply_to">{{ reply.reply_to }}</span>
        </div>
        {% endif %}
        <div id="reply_content{{ reply.id }}" class="reply_content">
            {% if reply.status == '6deleted' %}
                <font color="#999">{% trans 'Deleted reply' %}</font>
            {% elif reply.status == '5hidden' %}
                <font color="#999">{% trans 'Hidden reply' %}</font>
            {% else %}
                {{ reply.content|urlize|target_blank|linebreaksbr }}
            {% endif %}
        </div>
    </div>
{% if reply.reply_id > 0 %}
    </td></tr></table>
{% endif %}
{% endfor %}
<script>
    reply_count = {{ count }};
</script>
