{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Dashboard' %} - {{ SITE_NAME }}{% endblock %}
{% load blogtools %}
{% load user %}
{% load link %}
{% load tz datetime %}
{% load navigator %}
{% load tags %}
{% load status %}
{% block content %}

<div class="blog_header">
    {% trans 'Dashboard' %}
    <span class="float-right">
        <a href="{% url 'blogs:dashboard_post' status='all' category='all' page=1 %}">
            <input type="button" value="{% trans 'Post' %}">
        </a>
        <a href="{% url 'blogs:dashboard_comment' status='all' page=1 %}">
            <input type="button" value="{% trans 'Comment' %}">
        </a>
    </span>
</div>

<div class="dashboard_summary">
    <div>
        {% trans 'Summary' %}
    </div>
    <div>
        <a href="{% url 'blogs:dashboard_post' status='all' category='all' page=1 %}">
            {{ total_posts }}
        </a>
        {% trans 'posts' %}
    </div>
    <div>
        <a href="{% url 'blogs:dashboard_comment' status='all' page=1 %}">
            {{ total_comments }}
        </a>
        {% trans 'comments' %}
    </div>
    <div>
        <a href="{% url 'blogs:dashboard_comment' status='7spam' page=1 %}">
            {{ total_spams }}
        </a>
        {% trans 'spams' %}
        <span class="float-right">
            <a href="{% url 'spams:setting' %}">
                {% trans 'Spam setting' %}
            </a>
        </span>
    </div>
    <div>
        <a href="{% url 'accounts:dashboard_user' condition='default' page=1 %}">
            {{ total_users }}
        </a>
        {% trans 'users' %}
    </div>
</div>

<div class="dashboard_header">
    {% trans 'Top posts order' %}
    {% if condition == 'recent' %}
        <span class="status_selected">
    {% else %}
        <span>
    {% endif %}
            <a href="{% url 'blogs:dashboard' condition='recent' %}">
                {% trans 'by recent' %}
            </a>
        </span>
    {% if condition == 'view' %}
        <span class="status_selected">
    {% else %}
        <span>
    {% endif %}
            <a href="{% url 'blogs:dashboard' condition='view' %}">
                {% trans 'by view' %}
            </a>
        </span>
    {% if condition == 'like' %}
        <span class="status_selected">
    {% else %}
        <span>
    {% endif %}
            <a href="{% url 'blogs:dashboard' condition='like' %}">
                {% trans 'by like' %}
            </a>
        </span>
    {% if condition == 'comment' %}
        <span class="status_selected">
    {% else %}
        <span>
    {% endif %}
            <a href="{% url 'blogs:dashboard' condition='comment' %}">
                {% trans 'by comment' %}
            </a>
        </span>
</div>
<div class="blog_wrapper">
    <table class="board">
        <thead>
        <tr>
            <th class="title">{% trans 'title' %}</th>
            <th class="category">{% trans 'category' %}</th>
            <th class="tag">{% trans 'Tags' %}</th>
            <th class="blogcount"><img src="{% static 'icons/eye18.png' %}"></th>
            <th class="fulldate">{% trans 'date' %}</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td class="subject title">
                        <a href="{% url 'blogs:show_post' id=post.id %}">
                            {{ post.title }}
                        </a>
                    </td>
                    <td class="article_info">
                        {{ post.category }}
                    </td>
                    <td class="article_info">
                        {{ post.tags }}
                    </td>
                    <td class="article_info">
                        {{ post.view_count }} / {{ post.like_count }} / {{ post.comment_count}}
                    </td>
                    <td class="article_info">
                        {{ post.created_at|date:"Y-m-d" }}
                        <div class="dashboard_function">
                            {{ post.status|status_to_text|safe }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="dashboard_header">
    {% trans 'Recent comments' %}
</div>
<div class="blog_wrapper">
    <table class="board">
        <thead>
        <tr>
            <th class="category">{% trans 'name' %}</th>
            <th class="title">{% trans 'Comment' %}</th>
            <th class="tag">{% trans 'title' %}</th>
            <th class="fulldate">{% trans 'date' %}</th>
        </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
                <tr>
                    <td class="subject title">
                        {% if comment.userid %}
                            {{ comment.userid|portrait|safe }}
                        {% else %}
                            {{ comment.username }}
                        {% endif %}
                        <div class="dashboard_function">
                            <span>
                                <a href="javascript:register_spam_ip('{{ comment.ip }}')" title="{% trans 'Register to spam' %}">
                                    {{ comment.ip }}
                                </a>
                            </span>
                        </div>
                    </td>
                    <td class="title">
                        {{ comment.content|urlize|target_blank|linebreaksbr }}
                        <div class="dashboard_function">
                            <span>
                                <a href="{% url 'blogs:spam_comment' id=comment.id %}">
                                    {% trans 'Spam' %}
                                </a>
                            </span>
                            <span class="delete">
                                <a href="{% url 'blogs:delete_comment' id=comment.id %}">
                                    {% trans 'Delete' %}
                                </a>
                            </span>
                        </div>
                    </td>
                    <td class="article_info">
                        {{ comment.post_id|bloginfo|safe }}
                    </td>
                    <td class="article_info">
                        {{ comment.created_at|date:"Y-m-d" }}
                        <div class="dashboard_function">
                            {{ comment.status|status_to_text|safe }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block bodyscript %}
<script src="{% static 'js/blogs/dashboard.js' %}" async></script>
{% endblock %}