{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ SITE_NAME }}{% endblock %}
{% block extra_head_content %}
{{ block.super }}
{% endblock %}
{% load i18n %}
{% load sense %}
{% block content %}

<h1>
    {% if edit_type == 'new' %}
        {% trans '+ New Post' %}
    {% else %}
        {% trans 'Edit Post' %}
    {% endif %}
</h1>
<div class="annotation">
{% if edit_type == 'new' or edit_type == 'temp' %}
    <span>
        <a href="javascript:save_as_draft()">
            {% trans 'Save as draft' %}
        </a>
        {% if edit_type == 'temp' %}
            {% trans 'Draft saved at' %}
            {{ created_at|date:" Y-m-d H:i:s" }}
        {% endif %}
    </span>
{% endif %}
</div>

<form
    id="edit_post_form"
    method="POST"
    enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}

    <div class="input_subject">
        {{ form.title }}
    </div>
    <div class="input_content">
        {{ form.content }}
    </div>
    <div class="featured_image">
        <div>
            {% trans 'Featured image' %} (200 x 200)
        </div>
        {% if edit_type != 'new' and featured_image %}
            <div>
                <img src="{{ featured_image.url }}">
            </div>
        {% endif %}
        {{ form.image }}
    </div>
    <div class="input_tags">
        {{ form.tags }}
    </div>
    {% if category_choices %}
        <div class="input_category">
            <b>{% trans 'category' %}</b>
            <select id="id_category" maxlength="23" name="category">
                <option value=""></option>
                {% for choice in category_choices %}
                    {% if choice == category %}
                        <option value="{{ choice }}" selected>{{ choice }}</option>
                    {% else %}
                            <option value="{{ choice }}">{{ choice }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    {% endif %}
    {% if user.is_staff %}
        <div class="input_status">
    {% else %}
        <div class="input_status" style="display:none">
    {% endif %}
            <b>{% trans 'status' %}</b> {{ form.status }}
        </div>
    <div class="input_submit">
        {% if edit_type == 'new' %}
            <input type="submit" value="{% trans 'submit' %}">
        {% else %}
            <input type="submit" value="{% trans 'save' %}" onClick="javascript:save_override()">
        {% endif %}
        <input type="button" value="{% trans 'cancel' %}" onClick="javascript:history.back(1);">
    </div>
</form>
{% endblock %}

{% block bodyscript %}
<script src="{% static 'js/blogs/blogs_edit.js' %}" async></script>
{% endblock %}
