{% load staticfiles %}
{% load i18n %}
{% load link %}
{% load user %}
{% load tz datetime %}

<div class="reply_header" id="comment_header">
    {% trans 'reply' %}
    <span>
        [
        <span id="reply_count_no">
            {{ count }}
        </span>
        ]
    </span>
    <div class="buttons float-right">
        <span>
            <a href="#comment_text">
                {% trans 'Write reply' %}
            </a>
        </span>
    </div>
</div>
{% for comment in comments %}
{% if comment.comment_id > 0 %}
    <table class="dynamic_input_reply" width="100%">
    <tr>
        <td width="24px" valign="top">
            <img src="{% static 'icons/niun24.png' %}">
        </td>
        <td class="input_rereply">
{% endif %}
{% if post_user == comment.userid %}
    <div id="reply_body{{ comment.id }}" class="reply_body reply_body_owner">
        <div class="reply_title reply_title_owner">
{% else %}
    <div id="reply_body{{ comment.id }}" class="reply_body">
        <div class="reply_title">
{% endif %}
            <span class="reply_username">
                {% if comment.userid %}
                    {{ comment.userid|portrait|safe }}
                {% else %}
                    {{ comment.username }}
                {% endif %}
            </span>
            <span class="reply_date">
                {% if comment.created_at|localtime|is_today %}
                    {{ comment.created_at|time:"H:i" }}
                {% else %}
                    {{ comment.created_at|date:"m-d" }}
                {% endif %}
            </span>
            {% if user.is_authenticated and user.username == comment.userid or user.is_staff %}
                <span class="reply_delete">
                    <a href="javascript:delete_comment({{ comment.id }})">
                        {% trans 'delete' %}
                    </a>
                </span>
            {% endif %}
            <div class="float-right">
                <span class="open_reply">
                    {% if user.is_authenticated %}
                        <a href="javascript:show_input_reply('True', {{ comment.post_id }}, {{ comment.id }})">
                    {% else %}
                        <a href="javascript:show_input_reply('False', {{ comment.post_id }}, {{ comment.id }})">
                    {% endif %}
                            {% trans 'reply' %}
                    </a>
                </span>
            </div>
        </div>
        <div id="reply_content{{ comment.id }}" class="reply_content">
            {{ comment.content|urlize|target_blank|linebreaksbr }}
        </div>
    </div>
{% if comment.comment_id > 0 %}
    </td></tr></table>
{% endif %}
{% endfor %}
